<page-header pageTitle="Land Use Blocks" [customRichTextTypeID]="richTextID" [templateRight]="templateRight"></page-header>

<ng-template #templateRight>
  @if (currentUserHasJurisdictionEditPermission()) {
    <a class="float-right btn btn-primary mr-2" [href]="url + '/LandUseBlockGeometry/UpdateLandUseBlockGeometry'">
      <icon [icon]="'Upload'"></icon> Upload Land Use Blocks
    </a>
  }
  @if (currentUserHasJurisdictionEditPermission()) {
    <a class="float-right btn btn-primary" [href]="url + '/LandUseBlockGeometry/DownloadLandUseBlockGeometry'">
      <icon [icon]="'Download'"></icon> Download Land Use Blocks
    </a>
  }
</ng-template>

<app-alert-display></app-alert-display>

<div class="page-body" [loadingSpinner]="{ isLoading, loadingHeight: 100 }">
  @if (landUseBlocks$ | async; as landUseBlocks) {
    @if (boundingBox$ | async; as boundingBox) {
      <hybrid-map-grid
        [rowData]="landUseBlocks"
        [columnDefs]="landUseBlockColumnDefs"
        downloadFileName="land-use-blocks"
        entityIDField="LandUseBlockID"
        (onMapLoad)="handleMapReady($event)"
        [selectedValue]="landUseBlockID"
        [selectionFromMap]="selectionFromMap"
        (selectedValueChange)="onSelectedLandUseBlockChangedFromGrid($event)"
        [boundingBox]="boundingBox">
        @if (mapIsReady) {
          <div mapLayers>
            @if (mapIsReady) {
              <selected-land-use-block-layer
                [displayOnLoad]="true"
                [map]="map"
                [layerControl]="layerControl"
                [sortOrder]="10"
                [selectedLandUseBlockID]="landUseBlockID"
                (layerBoundsCalculated)="handleLayerBoundsCalculated($event)"
              (landUseBlockSelected)="onSelectedLandUseBlockChanged($event)"></selected-land-use-block-layer>
            }
            @if (mapIsReady) {
              <jurisdictions-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="10"></jurisdictions-layer>
            }
            @if (mapIsReady) {
              <wqmps-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="20"></wqmps-layer>
            }
            @if (mapIsReady) {
              <delineations-layer
                [displayOnLoad]="false"
                [map]="map"
                [layerControl]="layerControl"
                [sortOrder]="30"
              [isAnalyzedInModelingModule]="false"></delineations-layer>
            }
          </div>
        }
        <div headerActions></div>
      </hybrid-map-grid>
    }
  }
</div>
