<div class="row mr-1 ml-1">
    <div class="col p-0">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li class="nav-item">
                <a class="nav-link active">OCTA M2 Tier 2 Grant Program</a>
            </li>
        </ul>
    </div>
</div>
<div class="row bg-white border mr-1 ml-1 pb-4">
    <div class="col-xl-5">
        <div class="row mt-3">
            <div class="col-12">
                <h5 class="border-bottom p-2">Score Summary</h5>
            </div>

            <div class="col-sm-4 text-sm-right">Watershed:</div>
            <div class="col-sm-8">
                <i>Not calculated yet</i>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">SEA Score:</div>
            <div class="col-sm-8 mt-1">
                <i>Not calculated yet</i>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">TPI Score:</div>
            <div class="col-sm-8 mt-1">
                <i>Not calculated yet</i>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">WQLRI:</div>
            <div class="col-sm-8 mt-1">
                <i>Not calculated yet</i>
            </div>
            <div class="col-sm-4 mt-1 font-weight-bold text-sm-right">Sum:</div>
            <div class="col-sm-8 mt-1">
                <i>Not calculated yet</i>
            </div>
        </div>
    </div>
    <div class="col-xl-7">
        <div class="row mt-3">
            <div class="col-12">
                <h5 class="border-bottom p-2">Pollutant Contributions to SEA</h5>
            </div>
            <div class="col-sm-4 text-sm-right">TSS:</div>
            <div class="col-sm-8">
                <i>Not calculated yet</i>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">Nutrients:</div>
            <div class="col-sm-8 mt-1">
                <i>Not calculated yet</i>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">Metals:</div>
            <div class="col-sm-8 mt-1">
                <i>Not calculated yet</i>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">Bacteria:</div>
            <div class="col-sm-8 mt-1">
                <i>Not calculated yet</i>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">Volume:</div>
            <div class="col-sm-8 mt-1">
                <i>Not calculated yet</i>
            </div>
        </div>
    </div>
    
</div>
