<div class="row mr-1 ml-1">
    <div class="col p-0">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li class="nav-item">
                <a class="nav-link active">OCTA M2 Tier 2 Grant Program</a>
            </li>
        </ul>
    </div>
</div>
<div class="row bg-white border mr-1 ml-1 pb-4" *ngIf="projectGrantScore">
    <div class="col-xl-6">
        <div class="row mt-3">
            <div class="col-12">
                <h5 class="border-bottom p-2">Score Summary</h5>
            </div>

            <div class="col-sm-4 text-sm-right">
                <field-definition fieldDefinitionType="OCTAWatershed" labelOverride="Watershed(s)"></field-definition>
            </div>
            <div class="col-sm-8">
                <span *ngIf="projectGrantScore.Watersheds; else notCalculated">{{ projectGrantScore.Watersheds }}</span>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">
                <field-definition fieldDefinitionType="SEAScore" labelOverride="SEA Score"></field-definition>
            </div>
            <div class="col-sm-8 mt-1">
                <span *ngIf="projectGrantScore.SEA; else notCalculated">{{ projectGrantScore.SEA | percent: '1.1-1' }}</span>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">
                <field-definition fieldDefinitionType="TPIScore" labelOverride="TPI Score"></field-definition>
            </div>
            <div class="col-sm-8 mt-1">
                <span *ngIf="projectGrantScore.TPI; else notCalculated">{{ projectGrantScore.TPI | percent: '1.1-1' }}</span>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">
                <field-definition fieldDefinitionType="WQLRI" labelOverride="Dry Weather WQLRI"></field-definition>
            </div>
            <div class="col-sm-8 mt-1">
                <span *ngIf="projectGrantScore.DryWeatherWQLRI; else notCalculated">{{ projectGrantScore.DryWeatherWQLRI | percent: '1.1-1' }}</span>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">
                <field-definition fieldDefinitionType="WQLRI" labelOverride="Wet Weather WQLRI"></field-definition>
            </div>
            <div class="col-sm-8 mt-1">
                <span *ngIf="projectGrantScore.WetWeatherWQLRI; else notCalculated">{{ projectGrantScore.WetWeatherWQLRI | percent: '1.1-1' }}</span>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="row mt-3">
            <div class="col-12">
                <h5 class="border-bottom p-2">
                    <field-definition fieldDefinitionType="PollutantContributionToSEA" labelOverride="Pollutant Contribution to SEA"></field-definition>
                </h5>
            </div>
            <div class="col-sm-4 text-sm-right">TSS</div>
            <div class="col-sm-8">
                <span *ngIf="projectGrantScore.PollutantTSS; else notCalculated">{{ projectGrantScore.PollutantTSS | percent: '1.1-1' }}</span>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">Nutrients</div>
            <div class="col-sm-8 mt-1">
                <span *ngIf="projectGrantScore.PollutantNutrients; else notCalculated">{{ projectGrantScore.PollutantNutrients | percent: '1.1-1' }}</span>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">Metals</div>
            <div class="col-sm-8 mt-1">
                <span *ngIf="projectGrantScore.PollutantMetals; else notCalculated">{{ projectGrantScore.PollutantMetals | percent: '1.1-1' }}</span>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">Bacteria</div>
            <div class="col-sm-8 mt-1">
                <span *ngIf="projectGrantScore.PollutantBacteria; else notCalculated">{{ projectGrantScore.PollutantBacteria | percent: '1.1-1' }}</span>
            </div>
            <div class="col-sm-4 mt-1 text-sm-right">Volume</div>
            <div class="col-sm-8 mt-1">
                <span *ngIf="projectGrantScore.PollutantVolume; else notCalculated">{{ projectGrantScore.PollutantVolume | percent: '1.1-1' }}</span>
            </div>
        </div>
    </div>

    <div class="col-12 mt-5">
        <hr>
        <custom-rich-text [customRichTextTypeID]="OCTAM2Tier2RichTextTypeID"></custom-rich-text>
    </div>
    
    <ng-template #notCalculated>
        <i>Not calculated yet</i>
    </ng-template>
</div>
