{{ if eq .Values.global.env.name "prod" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "web.fullname" . }}-prod-configmap
data:
  ASPNETCORE_ENVIRONMENT: "Production"
  production: "true"
  staging: "false"
  dev: "false"
{{ end }}  