{{ if eq .Values.global.env.name "prod" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "web.fullname" . }}-prod-configmap
data:
  ASPNETCORE_ENVIRONMENT: "Production"
  production: "true"
  staging: "false"
  dev: "false"
  mainAppApiUrl: "https://{{ .Values.global.domains.api }}"
  createAccountRedirectUrl: "https://{{ .Values.global.domains.web }}/create-user-callback"
  geoserverMapServiceUrl: "https://{{ .Values.global.domains.geoserver }}/geoserver/OCStormwater"
  ocStormwaterToolsBaseUrl: "https://{{ .Values.global.domains.webmvc }}"
{{ end }}  