<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Watersheds</li>
    </ol>
</nav>
<div class="container">

    <app-alert-display></app-alert-display>

    <div class="row">
        <div class="col">
            <h2 class="d-inline-block">Watersheds</h2>
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col">
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mr-auto">
        </div>
        <div class="col-auto">
            <div class="row no-gutters">
                <div class="m-2">
                    <hippocamp-clear-grid-filters-button [grid]="watershedsGrid">
                    </hippocamp-clear-grid-filters-button>
                </div>
                <div class="m-2">
                    <hippocamp-csv-download-button [grid]="watershedsGrid" fileName="watersheds" colIDsToExclude="">
                    </hippocamp-csv-download-button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <ag-grid-angular #watershedsGrid style="width: 100%; height: 400px;" class="ag-theme-balham" [rowData]="watersheds"
            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100">
        </ag-grid-angular>
    </div>
    <div class="row mt-sm-4" *ngIf="watersheds">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <watershed-map mapID="watershedsMap" 
                    [selectedWatershedIDs]="getSelectedWatershedIDs()"
                     mapHeight="500px">
                    </watershed-map>
                </div>
            </div>
        </div>
    </div>
</div>