<page-header pageTitle="Initiate OVTA"></page-header>
<workflow-body>
  <app-alert-display></app-alert-display>
  <form class="form" [formGroup]="formGroup">
    <div class="mb-4">
      <div class="control-label"><i class="copy copy-2">Are you reassessing a previously-assessed area, or assessing a new area for the first time?</i></div>
      <form-field [formControl]="formGroup.controls.AssessingNewArea" [formInputOptions]="layerIsOnByDefaultOptions" [type]="FormFieldType.Radio"></form-field>
    </div>

    @if (stormwaterJurisdictions$ | async; as stormwaterJurisdictions) {
      <div class="grid-12 mb-4">
        <div class="field g-col-5">
          <label class="field-label">Jurisdiction</label>
          <ng-select
            class="custom"
            [items]="stormwaterJurisdictions"
            [formControl]="formGroup.controls.StormwaterJurisdictionID"
            bindLabel="Organization.OrganizationName"
            bindValue="StormwaterJurisdictionID"
          (change)="onJurisdictionSelected($event)"></ng-select>
        </div>
        <div class="field g-col-7" [hidden]="formGroup.controls.AssessingNewArea.value === true">
          <label class="field-label">Selected OVTA Area</label>
          <ng-select
            class="custom"
            [items]="onlandVisualTrashAssessmentAreas$ | async"
            [minTermLength]="2"
            [formControl]="formGroup.controls.OnlandVisualTrashAssessmentAreaID"
            bindLabel="OnlandVisualTrashAssessmentAreaName"
            bindValue="OnlandVisualTrashAssessmentAreaID"
          (change)="onOVTAAreaDropdownChanged($event)"></ng-select>
        </div>
      </div>
    }

    <div [hidden]="formGroup.controls.AssessingNewArea.value === true">
      <neptune-map (onMapLoad)="handleMapReady($event)" mapHeight="500px" [showLegend]="true">
        @if (mapIsReady) {
          <land-use-block-layer [displayOnLoad]="true" [map]="map" [layerControl]="layerControl" [sortOrder]="10"></land-use-block-layer>
        }
        @if (mapIsReady) {
          <parcel-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="20" styles="parcel_alt"></parcel-layer>
        }
      </neptune-map>
    </div>
  </form>
</workflow-body>
<div class="page-footer">
  <button class="btn btn-primary-outline ml-auto" (click)="save(true)" [disabled]="formGroup.invalid || isLoadingSubmit">Save & Continue</button>
</div>
