<page-header pageTitle="Trash Analysis Area"></page-header> <app-alert-display></app-alert-display>

<div class="page-body" [loadingSpinner]="{ isLoading, loadingHeight: 100 }">
    <neptune-grid
        *ngIf="trashGeneratingUnits$ | async as trashGeneratingUnits"
        height="800px"
        [rowData]="trashGeneratingUnits"
        [columnDefs]="trashGeneratingUnitsColumnDefs"
        downloadFileName="trash-analysis-areas"
        [pagination]="true"
        [sizeColumnsToFitGrid]="true"></neptune-grid>
</div>
