@use "/src/scss/abstracts" as *;

.workflow-sidebar-item {
    a:hover .complete {
        color: $white;
    }

    .complete {
        color: $green-default;
    }
    .fade {
        opacity: 0.5;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
    }
}
