<div class="row">
    <div class="col-sm-8 col-md-9 offset-sm-4 offset-md-3">
        <p>Select a Treatment BMP from the list or click a location on the map to explore.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9" [style.height]="mapHeight" style="overflow-y: auto;">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let treatmentBMP of treatmentBMPs"
                [class.selected]="selectedListItem == treatmentBMP.TreatmentBMPID"
                (click)="selectTreatmentBMP(treatmentBMP.TreatmentBMPID)">
                {{treatmentBMP.TreatmentBMPName}}
                <p class="small mb-0">Type: {{treatmentBMP.TreatmentBMPTypeName}}</p>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
        <div id={{mapID}} class="location-card" [style.height]="mapHeight"></div>
    </div>
</div>
<div class="mt-4 card" *ngIf="selectedTreatmentBMP">
    <div class="card-body bg-white">
        <div class="row">
            <div class="col-md-6 order-md-last">
                <div class="row d-flex">
                    <div class="col-auto ml-auto">
                        <a class="btn btn-outline-info mr-2" placement="top" ngbTooltip="Edit feature coming soon">
                            <i class="fa fa-edit"></i>&nbsp; Edit
                        </a>
                        <a class="btn btn-outline-danger" placement="top" ngbTooltip="Delete feature coming soon">
                            <i class="fa fa-trash"></i>&nbsp; Delete
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 font-weight-bold text-sm-right">Name</div>
                    <div class="col-sm-8">{{selectedTreatmentBMP.TreatmentBMPName}}</div>
                    <div class="col-sm-4 font-weight-bold text-sm-right">Type</div>
                    <div class="col-sm-8">{{selectedTreatmentBMP.TreatmentBMPTypeName}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5">
               <div class="row mt-2">
                    <div class="col-12 mb-2">
                        <h5 class="border-bottom p-2">Location</h5>
                    </div>
                    <div class="col-sm-4 text-sm-right font-weight-bold">Latitude</div>
                    <div class="col-sm-8">{{selectedTreatmentBMP.Latitude}}</div>
                    <div class="col-sm-4 mt-1 font-weight-bold text-sm-right">Longitude</div>
                    <div class="col-sm-8 mt-1">{{selectedTreatmentBMP.Longitude}}</div>
                    <div class="col-sm-4 mt-1 font-weight-bold text-sm-right">Watershed</div>
                    <div class="col-sm-8 mt-1">{{selectedTreatmentBMP.WatershedName}}</div>
               </div>
            </div>
            <div class="col-xl-7">
                <div class="row mt-2">
                    <div class="col-12">
                        <h5 class="border-bottom p-2">Modeling Attributes</h5>
                    </div>
                    <div class="col-sm-12 font-italic">Coming soon!</div>
                </div>
            </div>
        </div>
    </div>
</div>