<div class="container-fluid">
    <app-alert-display></app-alert-display>
    <div class="row mb-2 justify-content-center">
        <div class="col-12 col-lg-11">
            <h2 class="d-inline-block">Planning Map</h2>
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-11">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-4 order-last order-md-first">
                    <div class="card" [style.height]="mapHeight" style="overflow:auto">
                        <div class="card-header hippocamp">
                            Selected Treatment BMP
                        </div>
                        <div class="card-body d-flex flex-column overflow-auto" *ngIf="selectedTreatmentBMP != null; else noTreatmentBMPSelected">
                            <strong>BMP</strong>
                            <dl class="row">
                                <dt class="text-sm-right col-sm-5 col-xs-12">Name</dt>
                                <dd class="col-sm-7 col-xs-12">
                                    {{selectedTreatmentBMP.TreatmentBMPName}}
                                </dd>

                                <dt class="text-sm-right col-sm-5 col-xs-12"><field-definition fieldDefinitionType="TreatmentBMPType" [labelOverride]="'Type'"></field-definition></dt>
                                <dd class="col-sm-7 col-xs-12">
                                    {{selectedTreatmentBMP.TreatmentBMPTypeName}}
                                </dd>

                                <dt class="text-sm-right col-sm-5 col-xs-12">Status</dt>
                                <dd class="col-sm-7 col-xs-12">
                                    {{selectedProject.ProjectStatus.ProjectStatusDisplayName}}
                                </dd>
                            </dl>
                            <ng-container *ngIf="selectedDelineation != null">
                                <strong>Delineation</strong>
                                <dl class="row">
                                    <dt class="text-sm-right col-sm-5 col-xs-12"><field-definition fieldDefinitionType="Area"></field-definition></dt>
                                    <dd class="col-sm-7 col-xs-12">
                                        {{selectedDelineation.DelineationArea}} ac
                                    </dd>

                                    <dt class="text-sm-right col-sm-5 col-xs-12"><field-definition fieldDefinitionType="DelineationType" [labelOverride]="'Type'"></field-definition></dt>
                                    <dd class="col-sm-7 col-xs-12">
                                        {{selectedDelineation.DelineationTypeName}}
                                    </dd>
                                </dl>
                            </ng-container>
                            <strong>Project</strong>
                            <dl class="row">
                                <dt class="text-sm-right col-sm-5 col-xs-12">Name</dt>
                                <dd class="col-sm-7 col-xs-12">
                                    {{selectedProject.ProjectName}}
                                </dd>

                                <dt class="text-sm-right col-sm-5 col-xs-12"><field-definition fieldDefinitionType="Jurisdiction"></field-definition></dt>
                                <dd class="col-sm-7 col-xs-12">
                                    {{selectedProject.StormwaterJurisdiction.Organization.OrganizationName}}
                                </dd>
                                <dt class="text-sm-right col-sm-5 col-xs-12">Associated BMPS</dt>
                                <dd class="col-sm-7 col-xs-12"></dd>
                                <dt class="text-sm-right col-sm-5 col-xs-12"></dt>
                                <dd class="col-sm-7 col-xs-12"></dd>
                                <ng-container *ngFor="let bmp of relatedTreatmentBMPs">
                                    <dt class="col-12 col-sm-5 text-sm-right">
                                        <button class="btn btn-primary btn-sm"
                                            (click)="selectFeatureImpl(bmp.TreatmentBMPID)">Select</button>
                                    </dt>
                                    <dd class="col-12 col-sm-7 ">
                                        {{bmp.TreatmentBMPName}}
                                    </dd>
                                </ng-container>
                            </dl>
                            <a routerLink="/projects/{{selectedProject.ProjectID}}" class="d-inline-block btn btn-hippocamp">View Project Details</a>
                        </div>
                        <ng-template #noTreatmentBMPSelected>
                            <div class="card-body">
                                Select a Treatment BMP on the map to see information about the
                                Treatment BMP, its Project and related Treatment BMPs, and Delineation if present
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-8 mb-1 mb-md-0">
                    <div id={{mapID}} class="location-card" [style.min-height]="mapHeight" [style.height]="'100%'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>