<page-header pageTitle="Review and Finalize"></page-header>
<workflow-body [showLoadingSpinner]="isLoadingSubmit" *ngIf="onlandVisualTrashAssessment$ | async as onlandVisualTrashAssessment">
    <app-alert-display></app-alert-display>
    <form class="form" [formGroup]="formGroup">
        <div class="grid-12">
            <form-field
                class="g-col-12"
                [formControl]="formGroup.controls.OnlandVisualTrashAssessmentAreaName"
                fieldLabel="Assessment Area Name"
                [required]="true"
                [readOnly]="!onlandVisualTrashAssessment.AssessingNewArea"
                [type]="FormFieldType.Text"></form-field>
            <form-field
                class="g-col-12"
                [formControl]="formGroup.controls.AssessmentAreaDescription"
                fieldLabel="Assessment Area Description"
                [required]="false"
                [readOnly]="!onlandVisualTrashAssessment.AssessingNewArea"
                [type]="FormFieldType.Textarea"></form-field>
            <form-field
                class="g-col-12"
                fieldLabel="Assessment Type"
                [formControl]="formGroup.controls.IsProgressAssessment"
                [formInputOptions]="ProgressScoreOptions"
                [type]="FormFieldType.Radio"></form-field>

            <form-field class="g-col-6" [formControl]="formGroup.controls.AssessmentDate" fieldLabel="Assessment Date" [required]="false" [type]="FormFieldType.Date"></form-field>
            <form-field
                class="g-col-6"
                [formControl]="formGroup.controls.OnlandVisualTrashAssessmentScoreID"
                fieldLabel="Assessment Score"
                [required]="true"
                [formInputOptions]="onlandVisualTrashAssessmentScoreDropdown"
                [type]="FormFieldType.Select"></form-field>
            <form-field
                class="g-col-12"
                [formControl]="formGroup.controls.Notes"
                fieldLabel="Comments and Additional Information"
                [required]="false"
                [type]="FormFieldType.Textarea"></form-field>
        </div>
    </form>
    <h3 class="mt-4">Preliminary Source Identification Type</h3>
    <div class="mt-2 copy copy-3">Stormwater trash sources identified within the assessment area during assessments. Check all sources that apply.</div>
    <div *ngIf="preliminarySourceIdentificationTypeSimpleDto$ | async as preliminarySourceIdentificationTypeSimpleDto" class="grid-12 mb-4 preliminary-sources">
        <div *ngFor="let preliminarySourceIdentificationCategory of PreliminarySourceIdentificationCategories" class="mt-4 g-col-6">
            <h4 class="mb-2">{{ preliminarySourceIdentificationCategory.DisplayName }}</h4>
            <label
                *ngFor="
                    let preliminarySourceIdentificationType of filterByCategory(preliminarySourceIdentificationTypeSimpleDto, preliminarySourceIdentificationCategory.Value);
                    let i = index
                ">
                <input
                    type="checkbox"
                    [value]="preliminarySourceIdentificationType.PreliminarySourceIdentificationTypeID"
                    [checked]="isPreliminarySourceIdentificationTypeSelected(preliminarySourceIdentificationType.PreliminarySourceIdentificationTypeID)"
                    (change)="onPreliminarySourceIdentificationTypeChange($event)" />
                {{
                    preliminarySourceIdentificationType.PreliminarySourceIdentificationTypeDisplayName.indexOf("Other") >= 0
                        ? "Other"
                        : preliminarySourceIdentificationType.PreliminarySourceIdentificationTypeDisplayName
                }}

                <input type="text" *ngIf="preliminarySourceIdentificationType.PreliminarySourceIdentificationTypeDisplayName.indexOf('Other') >= 0" />
            </label>
        </div>
    </div>

    <h3>Observations</h3>
    <observations-map
        *ngIf="onlandVisualTrashAssessmentObservations$ | async as onlandVisualTrashAssessmentObservations"
        [observations]="onlandVisualTrashAssessmentObservations"
        [onlandVisualTrashAssessmentAreaID]="onlandVisualTrashAssessment.OnlandVisualTrashAssessmentAreaID"
        [onlandVisualTrashAssessmentAreaName]="onlandVisualTrashAssessment.OnlandVisualTrashAssessmentAreaName"
        [jurisdictionID]="onlandVisualTrashAssessment.StormwaterJurisdictionID">
    </observations-map>
</workflow-body>
<div class="page-footer">
    <button class="btn btn-primary mr-2" (click)="save()" [disabled]="isLoadingSubmit">Save</button>
    <button class="btn btn-primary-outline ml-auto" (click)="save(true)" [disabled]="isLoadingSubmit">Finalize</button>
</div>
