@use "/src/scss/abstracts" as *;

.selected-observation {
    background-color: $yellow-default;
}
.observation {
    padding: 1rem;
}
.observations {
    max-height: 550px;
    overflow-x: scroll;
}

.preliminary-sources {
    label {
        display: block;
        padding-bottom: 0.25rem;
    }
}
