<page-header pageTitle="Delineation Drainage Areas"></page-header>
<workflow-body [showLoadingSpinner]="(isLoadingSubmit$ | async) ?? false">
    <app-alert-display></app-alert-display>
    <custom-rich-text [customRichTextTypeID]="customRichTextTypeID"></custom-rich-text>

    @let isLoadingSubmit = (isLoadingSubmit$ | async) ?? false;
    @let selectedTreatmentBMPID = selectedTreatmentBMPID$ | async;

    @if ((delineations$ | async) !== null) {
        @if (boundingBox$ | async; as boundingBox) {
            <neptune-map
                #mapContainer
                (onMapLoad)="handleMapReady($event)"
                [mapHeight]="mapHeight"
                [showLegend]="false"
                [style.cursor]="isEditingLocation ? 'crosshair' : ''"
                [boundingBox]="boundingBox">
                @if (mapIsReady) {
                    <regional-subbasins-layer [mode]="OverlayMode.ReferenceOnly" [map]="map" [layerControl]="layerControl" [sortOrder]="10"></regional-subbasins-layer>
                    <stormwater-network-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="20"></stormwater-network-layer>
                    <jurisdictions-layer [mode]="OverlayMode.ReferenceOnly" [map]="map" [layerControl]="layerControl" [sortOrder]="30"></jurisdictions-layer>
                    <wqmps-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="40"></wqmps-layer>
                    <delineations-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="50"></delineations-layer>
                    <inventoried-bmps-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="60"></inventoried-bmps-layer>
                }
            </neptune-map>
        }
        <div class="mt-4 card">
            <div class="card-body bg-white">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Treatment BMP</th>
                                <th>Delineation Area</th>
                                <th>Distributed?</th>
                                <th>Centralized?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (projectTreatmentBMPs$ | async; as projectTreatmentBMPs) {
                                @for (treatmentBMP of projectTreatmentBMPs; track treatmentBMP.TreatmentBMPID) {
                                    <tr
                                        class="selectable"
                                        [class.selected]="selectedTreatmentBMPID === treatmentBMP.TreatmentBMPID"
                                        (click)="selectFeatureImpl(treatmentBMP.TreatmentBMPID)">
                                        <td>{{ treatmentBMP.TreatmentBMPName }}</td>
                                        <td [class.font-italic]="!treatmentBMPHasDelineationGeometry(treatmentBMP.TreatmentBMPID)">
                                            {{ getDelineationAreaForTreatmentBMP(treatmentBMP.TreatmentBMPID) }}
                                        </td>
                                        <td>
                                            @if (getTreatmentBMPDelineation(treatmentBMP.TreatmentBMPID)?.DelineationTypeID == 2) {
                                                <span>Yes</span>
                                            } @else {
                                                <button
                                                    class="btn btn-primary"
                                                    (click)="drawDelineationForTreatmentBMP(treatmentBMP.TreatmentBMPID)"
                                                    [disabled]="isEditingLocation || isPerformingDrawAction || isLoadingSubmit">
                                                    Draw on Map
                                                </button>
                                            }
                                        </td>
                                        <td>
                                            @if (getTreatmentBMPDelineation(treatmentBMP.TreatmentBMPID)?.DelineationTypeID == 1) {
                                                <span>Yes</span>
                                            } @else {
                                                <button
                                                    class="btn btn-primary"
                                                    (click)="getUpstreamRSBCatchmentForTreatmentBMP(treatmentBMP.TreatmentBMPID)"
                                                    [disabled]="isEditingLocation || isPerformingDrawAction || isLoadingSubmit">
                                                    Trace Network
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @if (selectedTreatmentBMP$ | async; as selectedTreatmentBMP) {
            <div class="mt-4 card">
                <div class="card-body">
                    <h3>Location</h3>
                    <div class="grid-12">
                        <div class="g-col-8">
                            @if (selectedTreatmentBMP.Latitude && selectedTreatmentBMP.Longitude) {
                                <dl class="grid-12 mt-4">
                                    <dt class="g-col-5">Latitude</dt>
                                    <dd class="g-col-7">
                                        {{ selectedTreatmentBMP.Latitude }}
                                    </dd>
                                    <dt class="g-col-5">Longitude</dt>
                                    <dd class="g-col-7">
                                        {{ selectedTreatmentBMP.Longitude }}
                                    </dd>
                                    <dt class="g-col-5">
                                        <field-definition fieldDefinitionType="Area" [labelOverride]="'Delineation Area'"></field-definition>
                                    </dt>
                                    <dd class="g-col-7" [class.font-italic]="!treatmentBMPHasDelineation(selectedTreatmentBMP.TreatmentBMPID)">
                                        {{ getDelineationAreaForTreatmentBMP(selectedTreatmentBMP.TreatmentBMPID) }}
                                    </dd>
                                    @if (selectedTreatmentBMP.WatershedName) {
                                        <dt class="g-col-5">
                                            <field-definition [fieldDefinitionType]="'Watershed'"></field-definition>
                                        </dt>
                                        <dd class="g-col-7">{{ selectedTreatmentBMP.WatershedName }}</dd>
                                    }
                                </dl>
                            } @else {
                                <div class="mt-3"><em>Location details not yet provided.</em></div>
                            }
                        </div>
                        <div class="g-col-4">
                            <div class="flex-between no-wrap">
                                <i></i>
                                <button
                                    class="btn btn-primary-outline mt-3"
                                    (click)="toggleIsEditingLocation()"
                                    [disabled]="drawMapClicked || isPerformingDrawAction || isLoadingSubmit">
                                    <i class="fa fa-edit mr-1"></i>{{ isEditingLocation ? "Save Location" : "Edit Location" }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</workflow-body>

<div class="page-footer">
    <button class="btn btn-primary mr-2" (click)="save()" [disabled]="(isLoadingSubmit$ | async) ?? false">Save</button>
    <button class="btn btn-primary-outline ml-auto" (click)="save(true)" [disabled]="(isLoadingSubmit$ | async) ?? false">Save & Continue</button>
</div>
