<div class="grid-header flex-between">
  <div class="grid-actions flex">
    <div class="global-filter">
      @if (!hideGlobalFilter) {
        <div class="field">
          <input
            type="text"
            name="quickFilterText"
            [(ngModel)]="quickFilterText"
            (ngModelChange)="onQuickFilterTextChanged()"
            placeholder="Search grid..."
            [disabled]="disableGlobalFilter" />
          </div>
        }
      </div>

      @if (leftAlignClearFiltersButton) {
        <div class="clear-filters-button">
          <clear-grid-filters-button [grid]="grid" (filtersCleared)="onFiltersCleared()"></clear-grid-filters-button>
        </div>
      }

      <ng-content select="[customGridActionsLeft]"></ng-content>
    </div>

    <div class="grid-actions flex-center">
      <ng-content select="[customGridActionsCenter]"></ng-content>
    </div>

    <div class="grid-actions flex-end">
      @if (multiSelectEnabled) {
        @if (selectedRowsCount > 0) {
          <span class="selection-info"> {{ selectedRowsCount }} of {{ rowDataCount }} Selected </span>
        }
        <button class="btn btn-sm btn-secondary" (click)="onSelectAll()" [class.disabled]="allRowsSelected">
          Select All
          @if (anyFilterPresent) {
            <span>(filtered)</span>
          }
        </button>
        <button class="btn btn-sm btn-secondary" (click)="onDeselectAll()" [class.disabled]="selectedRowsCount < 1">
          Deselect All
          @if (anyFilterPresent) {
            <span>(filtered)</span>
          }
        </button>
      }

      <ng-content select="[customGridActionsRight]"></ng-content>

      @if (!leftAlignClearFiltersButton) {
        <div class="clear-filters-button">
          <clear-grid-filters-button [grid]="grid" (filtersCleared)="onFiltersCleared()"></clear-grid-filters-button>
        </div>
      }
    </div>
  </div>
