@using Neptune.Web.Views.TreatmentBMPAssessment

@inherits Assessment<AssessmentViewData, object>

@{
    @SetLayout("SiteLayout.cshtml", ViewDataTyped)
}

@section JavascriptAndStylesContent
{
    @if (ViewDataTyped.DisableInputs)
    {
        <script type="text/javascript">
            // <![CDATA[
            jQuery("#treatmentBmpAssessmentContainer").find(":input").prop("disabled", true);
            // ]]>
        </script>
    }
}

<div id="treatmentBmpAssessmentContainer">
    @RenderBody()
</div>
