<div class="breadcrumb-container">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">
            <a routerLink="/manager-dashboard">Projects</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Create New Project
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <app-alert-display></app-alert-display>
  <div class="container mt-sm-4">
    <h2 class="d-inline-block">
      Create New Project
    </h2>
    <form (ngSubmit)="onSubmit(createProjectForm)" #createProjectForm="ngForm" *ngIf="projectModel">
        <!-- project basics -->
        <div class="row mt-3">
            <div class="col-sm-3 control-label text-sm-right">
                <label class="required">Project Name</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="project-name" [(ngModel)]="projectModel.ProjectName">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3 control-label text-sm-right">
                <label class="required">Description</label>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control" name="description" style="height: 100px" placeholder=""
                  [(ngModel)]="projectModel.ProjectDescription">
                </textarea>
            </div>
        </div>
        <!-- project contact information -->
        <div class="row mt-3">
            <div class="col-sm-3 control-label text-sm-right">
                <label class="required">Project Owner</label>
            </div>
            <div class="col-sm-7">
                <select name="organization" class="form-control" [(ngModel)]="projectModel.OrganizationID">
                    <option *ngFor="let organization of organizations" [value]="organization.OrganizationID">
                        {{organization.OrganizationName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3 control-label text-sm-right">
                <label class="required">Primary Contact</label>
            </div>
            <div class="col-sm-7">
                <select name="primary-contact" class="form-control" [(ngModel)]="projectModel.PrimaryContactPersonID">
                    <option [value]="currentUser.PersonID">{{currentUser.FullName}}</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3 control-label text-sm-right">
                <label class="required">Additional Contact Information</label>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control" name="description" style="height: 100px" placeholder=""
                  [(ngModel)]="projectModel.ProjectDescription">
                </textarea>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-2">
                <i class="fas fa-bolt"></i> Required field
            </div>
            <div class="col-sm-8 text-right">
                <button type="submit" class="btn btn-hippocamp" [disabled]="isLoadingSubmit">
                    <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                    Save
                </button>
                <a class="btn btn-secondary ml-1" routerLink="/projects">Cancel</a>
            </div>
        </div>
    </form>
</div>