
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
        <a routerLink="/projects">Projects</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
        Create New Project
        </li>
    </ol>
</nav>

<app-alert-display></app-alert-display>

<div class="container-fluid mt-4">
    <h2 class="d-inline-block">
        Create New Project
    </h2>
    <div class="row">
        <div class="col-md-3">
            <hippocamp-project-new-sidebar [projectModel]="projectModel"></hippocamp-project-new-sidebar>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
