<generic-wms-wfs-layer
    [map]="map"
    [layerControl]="layerControl"
    [interactive]="interactive"
    [displayOnLoad]="displayOnLoad"
    [sortOrder]="sortOrder"
    [selectedID]="selectedID"
    [wmsLayerName]="wfsFeatureType"
    [wmsStyle]="wmsStyle"
    [wfsFeatureType]="wfsFeatureType"
    [identifierProperty]="identifierProperty"
    [overlayLabel]="overlayLabel"
    [selectedStyle]="selectedStyle"
    (selected)="selected.emit($event)">
    <ng-template layerName>
        <span>Regional Subbasins</span>
    </ng-template>
    <ng-template legend>
        <img src="./assets/main/map-legend-images/RegionalSubbasin.png" style="height: 12px; margin-bottom: 3px" />
    </ng-template>
</generic-wms-wfs-layer>
