@use "/src/scss/abstracts" as *;

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;

    .close {
        color: $white;
    }
}

.modal-body {
    .field-source {
        padding: 1rem;
        align-items: center;
        label {
            font-weight: 700;
            display: block;
            margin-left: auto;
        }
        .value {
            white-space: pre-wrap;
        }
    }
}
