<div class="modal-header">
    <h3>Source</h3>
    <button class="btn btn-link close" (click)="close()">X</button>
</div>
<div class="modal-body">
    <div class="field-source grid-12">
        <label class="g-col-4">{{ modalContext.FieldLabel }}</label>
        <div class="value g-col-8">{{ modalContext?.Field.Value ?? "" }}</div>

        <label class="g-col-4">Document Source</label>
        <div class="value g-col-8">{{ modalContext?.Field.DocumentSource ?? "" }}</div>

        <label class="g-col-4">Evidence</label>
        <div class="value g-col-8">{{ modalContext?.Field.ExtractionEvidence ?? "" }}</div>
    </div>
</div>
