# /Batch/
/Batch

# /Source/
/Source/.vs/
/Source/Neptune.v12.suo
/Source/NuGetPackages
/Source/Neptune.sln.DotSettings
/Source/Neptune.sln.DotSettings.user
/Source/**/bin/
/Source/**/obj/

# /Source/LtInfo.Common/
/Source/LtInfo.Common/Lorax.Common.csproj.user
/Source/LtInfo.Common/Lorax.Common.csproj.DotSettings.user

# /Source/LtInfo.Common/HealthMonitor/

# /Source/Neptune.Web/
/Source/Neptune.Web/*.user
/Source/Neptune.Web/Web.config

*.received.txt
/Source/Neptune.Web/PyQgis/__pycache__
Source/Neptune.Web/PyQgis/.vscode/

/Source/_ReSharper.Caches


/Source/Neptune.GeoServer/data_dir/geoserver-environment.properties
/Source/Neptune.GeoServer/data_dir/.updatepassword.lock
/Source/Neptune.GeoServer/data_dir/security/*
Source/Neptune.GeoServer/data_dir/logs/
/.vs/Neptune/DesignTimeBuild/*.v2
/.vs/Neptune/FileContentIndex
/.vs/ProjectEvaluation
/.vs/Neptune/v17
/Build/secrets.ini
/Neptune.Models/obj/Debug/net6.0
/Neptune.Models/obj
/Neptune.EFModels/obj
/Neptune.WebMvc/obj
/Neptune.Database/*.dbmdl
/Neptune.Database/obj/Debug
/Neptune.WebMvc/bin/Debug/net6.0
/Neptune.EFModels/bin/Debug/net6.0
/Neptune.Database/bin/Debug
/Neptune.Models/bin/Debug/net6.0
/Neptune.Database/*.jfm
/obj/Docker
/Neptune.WebMvc/appsecrets.json
/Neptune.Common/obj
/Neptune.Common/bin/Debug/net6.0
/docker-compose/obj/Debug
/docker-compose/obj/Docker/*.yml
/docker-compose/obj/Docker/**/*.cache
/docker-compose/bin/Debug
/docker-compose/*.env
/.vs/Neptune/v16
/Neptune.Database/Neptune.Database.sqlproj.user
/Neptune.Tests/bin/Debug/net6.0
/Neptune.Tests/obj/Debug/net6.0
/Neptune.Tests/obj
/Build/Tools/AzureFileRestore/bin/Debug/net6.0
/Build/Tools/AzureFileRestore/obj/Debug/net6.0
/Build/Tools/AzureFileRestore/obj
/.vs/Neptune/config
/Neptune.API/obj/Debug/net6.0
/Neptune.API/obj
/Neptune.API/bin/Debug/net6.0
/Neptune.GeoServer/data_dir/geoserver-environment.properties
/Neptune.GeoServer/data_dir/.updatepassword.lock
/Neptune.GeoServer/data_dir/logs
/Neptune.GeoServer/data_dir/security
/Neptune.API/appsecrets.json
/*.user
/Hippocamp.Web/obj/Debug/net6.0
/Neptune.Web/obj/Debug/net6.0
/docker-compose/obj/Docker
/Neptune.Web/.vscode
/Neptune.GDALAPI/bin/Debug/net6.0
/Neptune.GDALAPI/obj/Debug/net6.0
/Neptune.GDALAPI/obj
/Neptune.Jobs/obj/Debug/net6.0
/Neptune.Jobs/obj
/Neptune.Jobs/bin/Debug/net6.0/Neptune.Jobs.deps.json
/Neptune.QGISAPI/bin/Debug/net6.0
/Neptune.QGISAPI/obj/Debug/net6.0
/Neptune.QGISAPI/obj
