# /Batch/
/Batch

# /Source/
/Source/.vs/
/Source/Neptune.v12.suo
/Source/NuGetPackages
/Source/Neptune.sln.DotSettings
/Source/Neptune.sln.DotSettings.user
/Source/**/bin/
/Source/**/obj/

# /Source/LtInfo.Common/
/Source/LtInfo.Common/Lorax.Common.csproj.user
/Source/LtInfo.Common/Lorax.Common.csproj.DotSettings.user

# /Source/LtInfo.Common/HealthMonitor/

# /Source/Neptune.Web/
/Source/Neptune.Web/*.user
/Source/Neptune.Web/Web.config

*.received.txt
/Source/Neptune.Web/PyQgis/__pycache__
Source/Neptune.Web/PyQgis/.vscode/

/Source/_ReSharper.Caches


/Source/Neptune.GeoServer/data_dir/geoserver-environment.properties
/Source/Neptune.GeoServer/data_dir/.updatepassword.lock
/Source/Neptune.GeoServer/data_dir/security/*
Source/Neptune.GeoServer/data_dir/logs/
/.vs/Neptune/DesignTimeBuild/*.v2
/.vs/Neptune/FileContentIndex
/.vs/ProjectEvaluation
/.vs/Neptune/v17
/Build/build.ini
/Build/secrets.ini
/Neptune.Models/obj/Debug/net6.0
/Neptune.Models/obj
/Neptune.EFModels/obj
/Neptune.Web/obj
/Neptune.Database/*.dbmdl
/Neptune.Database/obj/Debug
/Neptune.Web/bin/Debug/net6.0
/Neptune.EFModels/bin/Debug/net6.0
/Neptune.Database/bin/Debug
/Neptune.Models/bin/Debug/net6.0
/Neptune.Database/*.jfm
/obj/Docker
/Neptune.Web/appsecrets.json
/Neptune.Common/obj
/Neptune.Common/bin/Debug/net6.0
/docker-compose/obj/Debug
/docker-compose/obj/Docker/*.yml
/docker-compose/bin/Debug
/docker-compose/*.env
