<div class="popover">
    <h3 class="popover-header" *ngIf="title">
        <ng-template *ngIf="titleAsTemplate; else simpleTitle" [ngTemplateOutlet]="titleAsTemplate"></ng-template>
        <ng-template #simpleTitle>
            <ng-container>{{ title }}</ng-container>
        </ng-template>
    </h3>
    <div class="popover-body">
        <ng-content></ng-content>
        <ng-template [ngTemplateOutlet]="context"></ng-template>
    </div>
</div>
<div class="popover-arrow" data-popper-arrow></div>