@if (!hasAttributes) {
    <p class="system-text">This type of treatment BMP does not have any {{ customAttributeTypePurposeDisplayName }}</p>
}
@if (hasAttributes) {
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Attribute</th>
                <th class="text-right">Value</th>
            </tr>
        </thead>
        <tbody>
            @for (attrType of filteredAttributeTypes; track attrType.CustomAttributeType.CustomAttributeTypeID) {
                <tr>
                    <td>
                        @if (isAdmin) {
                            <a [routerLink]="['/custom-attribute-types/' + attrType.CustomAttributeType.CustomAttributeTypeID]">
                                {{ attrType.CustomAttributeType.CustomAttributeTypeName }}
                            </a>
                        } @else {
                            {{ attrType.CustomAttributeType.CustomAttributeTypeName }}
                        }
                        <span class="help-block extra-small">{{ attrType.CustomAttributeType.CustomAttributeTypeDescription }}</span>
                    </td>
                    <td class="text-right" style="min-width: 150px">
                        {{ attributeValuesByTypeID[attrType.CustomAttributeType.CustomAttributeTypeID] }}
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
