.card-actions {
    float: right;
}
.help-block.extra-small {
    font-size: 75%;
    margin-bottom: 0;
}
.systemText {
    color: #888;
    font-style: italic;
}
.table-condensed th,
.table-condensed td {
    padding: 4px 8px;
}
