<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Platform Overview</li>
    </ol>
</nav>

<!--RRB/EDF's names should not be configurated on this page-->
<div class="container">
    <app-alert-display></app-alert-display>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Platform Overview</h2>
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Project Partners</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center my-auto">
            <a href="https://sitkatech.com/" alt="Sitka Technology Group" target="_blank">
                <img src="assets/main/logos/sitkatech-logo2x.width-600.png" style="height: 100px;">
            </a>
        </div>
        <div class="col-9 ">
            <p><strong>Sitka Technology Group</strong></p>
            <p><em>Description to go here</em></p>
        </div>
    </div>
    <hr>
</div>