<div class="modal-header">
    <h3>{{ mode === "add" ? "Add Funding Source" : "Edit Funding Source" }}</h3>
</div>
<div class="modal-body">
    <app-alert-display></app-alert-display>
    <form [formGroup]="formGroup">
        <form-field [formControl]="formGroup.controls.OrganizationID" fieldLabel="Organization ID" [type]="FormFieldType.Number" [required]="true" placeholder="Organization ID">
        </form-field>
        <form-field [formControl]="formGroup.controls.FundingSourceName" fieldLabel="Funding Source Name" [type]="FormFieldType.Text" [required]="true" placeholder="Name">
        </form-field>
        <form-field [formControl]="formGroup.controls.FundingSourceDescription" fieldLabel="Description" [type]="FormFieldType.Textarea" placeholder="Description"> </form-field>
        <form-field [formControl]="formGroup.controls.IsActive" fieldLabel="Active?" [type]="FormFieldType.Check" checkLabel="Active"> </form-field>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>
