update dbo.TreatmentBMP
set DelineationGeometry = 0xE610000001040F000000BE27C69E08765DC07C8D637733EB4040EDC8689E08765DC01F01CAF02CEB40402F47DD4700765DC0E18F830428EB40400B0E674900765DC0258DCA6320EB4040A917BE3C11765DC087E1626B20EB4040872D5D6E13765DC0F355D28B20EB4040021AEA5915765DC09AC9618A20EB4040870E474815765DC009F1092023EB40407AE5AE6214765DC035307E4B23EB40403329EF4214765DC00DFC10662EEB4040B45FD73714765DC0F1BFFD4632EB40408768F23414765DC0FEB578DC32EB4040FE20EEFD12765DC044A377DE32EB404031BBABFE12765DC0207292BB32EB4040BE27C69E08765DC07C8D637733EB404001000000020000000001000000FFFFFFFF0000000003,
DelineationTypeID = 2
where TreatmentBMPName = 'OC-TS-0780'