
CREATE TABLE dbo.TustinTemp(
	TreatmentBMPName nvarchar(50) NOT NULL,
	TreatmentBMPType nvarchar(50) not null,
	StormwaterJurisdiction nvarchar(50) NOT NULL,
	Lat float NOT NULL,
	Long float NOT NULL,
	Owner nvarchar(50),
	YearBuilt int,
	SystemOfRecordID varchar(100),
	TreatmentBMPLifespanType varchar(50),
	TreatmentBMPLifespanEndDate datetime,
	Notes varchar(100),
	TrashCapture varchar(50)
)

INSERT [dbo].[TustinTemp] ([TreatmentBMPName], [TreatmentBMPType], [StormwaterJurisdiction], [Lat], [Long], [Owner], [YearBuilt], [SystemOfRecordID], [TreatmentBMPLifespanType], [TreatmentBMPLifespanEndDate], [Notes], [TrashCapture]) VALUES (N'TUS-INL-01-01', N'TrashScreen', N'City of Tustin', 33.76765215, -117.8301639, N'City of Tustin', 2019, N'01-01', N'Fixed End Date', CAST(N'2029-01-01T00:00:00.000' AS DateTime), N'Years Installed: CPS 2019, ', N'FULL')
GO
INSERT [dbo].[TustinTemp] ([TreatmentBMPName], [TreatmentBMPType], [StormwaterJurisdiction], [Lat], [Long], [Owner], [YearBuilt], [SystemOfRecordID], [TreatmentBMPLifespanType], [TreatmentBMPLifespanEndDate], [Notes], [TrashCapture]) VALUES (N'TUS-INL-01-02', N'TrashScreen', N'City of Tustin', 33.7709463, -117.8304586, N'City of Tustin', 2019, N'01-02', N'Fixed End Date', CAST(N'2029-01-01T00:00:00.000' AS DateTime), N'Years Installed: CPS 2019, ', N'FULL')
GO
INSERT [dbo].[TustinTemp] ([TreatmentBMPName], [TreatmentBMPType], [StormwaterJurisdiction], [Lat], [Long], [Owner], [YearBuilt], [SystemOfRecordID], [TreatmentBMPLifespanType], [TreatmentBMPLifespanEndDate], [Notes], [TrashCapture]) VALUES (N'TUS-INL-01-03', N'TrashScreen', N'City of Tustin', 33.77095733, -117.8305833, N'City of Tustin', 2019, N'01-03', N'Fixed End Date', CAST(N'2029-01-01T00:00:00.000' AS DateTime), N'Years Installed: CPS 2019, ', N'FULL')
GO

declare @PrivateWQMPOwner int
set @PrivateWQMPOwner = 1062

declare @TrashScreen int = 35
declare @ProprietaryBioretention int = 26
declare @VegetatedSwale int = 22

declare @Unspecified int = 1
declare @Perpetuity int = 2
declare @FixedEndDate int = 3

declare @Full int = 1
declare @Partial int = 2
declare @None int = 3
declare @NotProvided int = 4

declare @InventoryIsVerified int = 0

Insert into dbo.TreatmentBMP(TreatmentBMPName, TreatmentBMPTypeID, StormwaterJurisdictionID, LocationPoint, OwnerOrganizationID, YearBuilt, SystemOfRecordID, TreatmentBMPLifespanTypeID, TreatmentBMPLifespanEndDate, Notes, TrashCaptureStatusTypeID, InventoryIsVerified )
select tus.TreatmentBMPName, 
case when tus.TreatmentBMPType = 'TrashScreen' then @TrashScreen
	when tus.TreatmentBMPType = 'BIO-7' then @ProprietaryBioretention
	when tus.TreatmentBMPType = 'BIO-2' then @VegetatedSwale
	end
as TreatmentBMPTypeID,
s.StormwaterJurisdictionID,
geometry::Point(Long, Lat, 4326) as LocationPoint,
case when own.OrganizationID is not null then own.OrganizationID else @PrivateWQMPOwner end as OwnerOrganizationID,
tus.YearBuilt,
tus.SystemOfRecordID,
case when tus.TreatmentBMPLifespanEndDate is null then @Unspecified
     when tus.TreatmentBMPLifespanType = 'Fixed End Date' then @FixedEndDate
	 else null
	 end
as TreatmentBMPLifespanTypeID,
tus.TreatmentBMPLifespanEndDate,
tus.Notes,
case when tus.TrashCapture = 'FULL' then @Full
	when tus.TrashCapture = 'PARTIAL' then @Partial
	else @NotProvided
	end
as TrashCaptureStatusTypeID,
@InventoryIsVerified as InventoryIsVerified
from dbo.TustinTemp tus join dbo.Organization o on tus.StormwaterJurisdiction = o.OrganizationName join dbo.StormwaterJurisdiction s on o.OrganizationID = s.OrganizationID left join dbo.Organization own on tus.[Owner] = own.OrganizationName

drop table TustinTemp
