CREATE TABLE dbo.TustinTemp(
	[BMP_Name] [nvarchar](50) NOT NULL,
	[Priority_Land_Use_] [nvarchar](50) NULL,
	[Trash_Capture] [nvarchar](50) NULL,
	[Sizing_Basis] [nvarchar](50) NULL,
	[Number_of_Inlet_Screens] [nvarchar](50) NOT NULL,
	[Model_of_Inlet_Screens] [nvarchar](50) NOT NULL,
	[Number_of_Trash_Baskets] [nvarchar](50) NOT NULL,
	[Model_of_Trash_Baskets] [nvarchar](50) NOT NULL,
	[Number_of_Connector_Pipe_Screens] [nvarchar](50) NOT NULL,
	[Connector_Pipe_Screen_Name_and_Manufacturer] [nvarchar](50) NOT NULL,
	[TreatmentBMPID] [int] NULL,
	TreatmentBMPTypeID int null
)

INSERT dbo.TustinTemp ([BMP_Name], [Priority_Land_Use_], [Trash_Capture], [Sizing_Basis], [Number_of_Inlet_Screens], [Model_of_Inlet_Screens], [Number_of_Trash_Baskets], [Model_of_Trash_Baskets], [Number_of_Connector_Pipe_Screens], [Connector_Pipe_Screen_Name_and_Manufacturer], [TreatmentBMPID], [TreatmentBMPTypeID]) VALUES (N'TUS-INL-01-01', NULL, N'FULL', N'Trash Capture', N'0', N' ', N'0', N' ', N'1', N'Connector Pipe Trash Screen - United Stormwater', 5409, 35)
GO
INSERT dbo.TustinTemp ([BMP_Name], [Priority_Land_Use_], [Trash_Capture], [Sizing_Basis], [Number_of_Inlet_Screens], [Model_of_Inlet_Screens], [Number_of_Trash_Baskets], [Model_of_Trash_Baskets], [Number_of_Connector_Pipe_Screens], [Connector_Pipe_Screen_Name_and_Manufacturer], [TreatmentBMPID], [TreatmentBMPTypeID]) VALUES (N'TUS-INL-01-02', NULL, N'FULL', N'Trash Capture', N'0', N' ', N'0', N' ', N'1', N'Connector Pipe Trash Screen - United Stormwater', 5410, 35)
GO
INSERT dbo.TustinTemp ([BMP_Name], [Priority_Land_Use_], [Trash_Capture], [Sizing_Basis], [Number_of_Inlet_Screens], [Model_of_Inlet_Screens], [Number_of_Trash_Baskets], [Model_of_Trash_Baskets], [Number_of_Connector_Pipe_Screens], [Connector_Pipe_Screen_Name_and_Manufacturer], [TreatmentBMPID], [TreatmentBMPTypeID]) VALUES (N'TUS-INL-01-03', NULL, N'FULL', N'Trash Capture', N'0', N' ', N'0', N' ', N'1', N'Connector Pipe Trash Screen - United Stormwater', 5411, 35)
GO

-- inlet screens

declare @NumberInletScreen int = 90

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, tcat.TreatmentBMPTypeCustomAttributeTypeID, toa.TreatmentBMPTypeID, @NumberInletScreen
 from dbo.TustinTemp toa inner join dbo.TreatmentBMPTypeCustomAttributeType tcat on toa.TreatmentBMPTypeID = tcat.TreatmentBMPTypeID
where tcat.CustomAttributeTypeID = @NumberInletScreen and toa.Number_of_Inlet_Screens is not null and toa.Number_of_Inlet_Screens <> '#N/A'

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID, toa.Number_of_Inlet_Screens
from dbo.TustinTemp toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @NumberInletScreen and toa.Number_of_Inlet_Screens is not null and toa.Number_of_Inlet_Screens <> '#N/A'

-- inlet screens, model of

declare @ModelInletScreen int = 96

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, tcat.TreatmentBMPTypeCustomAttributeTypeID, toa.TreatmentBMPTypeID, @ModelInletScreen
 from dbo.TustinTemp toa inner join dbo.TreatmentBMPTypeCustomAttributeType tcat on toa.TreatmentBMPTypeID = tcat.TreatmentBMPTypeID
where tcat.CustomAttributeTypeID = @ModelInletScreen and toa.Model_of_Inlet_Screens is not null and toa.Model_of_Inlet_Screens <> ''

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID, toa.Model_of_Inlet_Screens
from dbo.TustinTemp toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @ModelInletScreen and toa.Model_of_Inlet_Screens is not null and toa.Model_of_Inlet_Screens <> ''

-- trash basket

declare @NumberTrashBasket int = 97

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, tcat.TreatmentBMPTypeCustomAttributeTypeID, toa.TreatmentBMPTypeID, @NumberTrashBasket
 from dbo.TustinTemp toa inner join dbo.TreatmentBMPTypeCustomAttributeType tcat on toa.TreatmentBMPTypeID = tcat.TreatmentBMPTypeID
where tcat.CustomAttributeTypeID = @NumberTrashBasket and toa.Number_of_Trash_Baskets is not null and toa.Number_of_Trash_Baskets <> '#N/A'

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID, toa.Number_of_Trash_Baskets
from dbo.TustinTemp toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @NumberTrashBasket and toa.Number_of_Trash_Baskets is not null and toa.Number_of_Trash_Baskets <> '#N/A'

-- trash basket, model of

declare @ModelTrashBasket int = 98

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, tcat.TreatmentBMPTypeCustomAttributeTypeID, toa.TreatmentBMPTypeID, @ModelTrashBasket
 from dbo.TustinTemp toa inner join dbo.TreatmentBMPTypeCustomAttributeType tcat on toa.TreatmentBMPTypeID = tcat.TreatmentBMPTypeID
where tcat.CustomAttributeTypeID = @ModelTrashBasket and toa.Model_of_Trash_Baskets is not null and toa.Model_of_Trash_Baskets <> ''

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID, toa.Model_of_Trash_Baskets
from dbo.TustinTemp toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @ModelTrashBasket and toa.Model_of_Trash_Baskets is not null and toa.Model_of_Trash_Baskets <> ''

-- connector pipe screens

declare @NumberConnectorPipeScreen int = 91

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, tcat.TreatmentBMPTypeCustomAttributeTypeID, toa.TreatmentBMPTypeID, @NumberConnectorPipeScreen
 from dbo.TustinTemp toa inner join dbo.TreatmentBMPTypeCustomAttributeType tcat on toa.TreatmentBMPTypeID = tcat.TreatmentBMPTypeID
where tcat.CustomAttributeTypeID = @NumberConnectorPipeScreen and toa.Number_of_Connector_Pipe_Screens is not null and toa.Number_of_Connector_Pipe_Screens <> '#N/A'

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID, toa.Number_of_Connector_Pipe_Screens
from dbo.TustinTemp toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @NumberConnectorPipeScreen and toa.Number_of_Connector_Pipe_Screens is not null and toa.Number_of_Connector_Pipe_Screens <> '#N/A'


-- connector pipe screens, model of

declare @ModelConnectorPipeScreen int = 75

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, tcat.TreatmentBMPTypeCustomAttributeTypeID, toa.TreatmentBMPTypeID, @ModelConnectorPipeScreen
 from dbo.TustinTemp toa inner join dbo.TreatmentBMPTypeCustomAttributeType tcat on toa.TreatmentBMPTypeID = tcat.TreatmentBMPTypeID
where tcat.CustomAttributeTypeID = @ModelConnectorPipeScreen and toa.Connector_Pipe_Screen_Name_and_Manufacturer is not null and toa.Connector_Pipe_Screen_Name_and_Manufacturer <> ''

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID, toa.Connector_Pipe_Screen_Name_and_Manufacturer
from dbo.TustinTemp toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @ModelConnectorPipeScreen and toa.Connector_Pipe_Screen_Name_and_Manufacturer is not null and toa.Connector_Pipe_Screen_Name_and_Manufacturer <> ''

-- priority land use

declare @PLU int = 1117

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, tcat.TreatmentBMPTypeCustomAttributeTypeID, toa.TreatmentBMPTypeID, @PLU
 from dbo.TustinTemp toa inner join dbo.TreatmentBMPTypeCustomAttributeType tcat on toa.TreatmentBMPTypeID = tcat.TreatmentBMPTypeID
where tcat.CustomAttributeTypeID = @PLU and toa.Priority_Land_Use_ is not null and toa.Priority_Land_Use_ <> ''

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID, case when toa.Priority_Land_Use_ = 'YES' then 'Yes' when toa.Priority_Land_Use_ = 'NO' then 'No' end
from dbo.TustinTemp toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @PLU and toa.Priority_Land_Use_ is not null and toa.Priority_Land_Use_ <> ''

drop table dbo.TustinTemp