CREATE TABLE [dbo].LagunaNiguelTemp(
	[ogr_fid] [int] IDENTITY(1,1) NOT NULL,
	[ogr_geometry] [geometry] NULL,
	[seg_id] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[shape_leng] [numeric](19, 11) NULL,
	[shape_area] [numeric](19, 11) NULL,
 CONSTRAINT [PK_ln_ovta_surveysegcombinedpoly_alu_caltrans] PRIMARY KEY CLUSTERED 
(
	[ogr_fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].LagunaNiguelTemp ON 
GO
SET IDENTITY_INSERT [dbo].LagunaNiguelTemp OFF
GO


Declare @LagunaNiguel int; 
select @LagunaNiguel = swj.StormwaterJurisdictionID from StormwaterJurisdiction swj inner join Organization o on swj.OrganizationID = o.OrganizationID where o.OrganizationName like '%Niguel%';

Insert into dbo.OnlandVisualTrashAssessmentArea ( OnlandVisualTrashAssessmentAreaName, StormwaterJurisdictionID, OnlandVisualTrashAssessmentAreaGeometry)
select
seg_id as OnlandVisualTrashAssessmentAreaName,
@LagunaNiguel as StormwaterJurisdictionID,
ogr_geometry as OnlandVisualTrashAssessmentAreaGeometry
from dbo.LagunaNiguelTemp

drop table LagunaNiguelTemp