drop table if exists dbo.TempSantaAna

CREATE TABLE [dbo].[TempSantaAna](
	[BMP_Name] [nvarchar](50) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Jurisdiction] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
	[Asset_ID_in_System_of_Record] [nvarchar](50) NULL,
	[Trash_Capture_Status] [nvarchar](50) NULL,
	[Sizing_Basis] [nvarchar](50) NULL,
	[OCTA_M2_Funded_] [nvarchar](50) NULL,
	[Year_Built_or_Installed] [int] NULL,
	[Number_of_Inlet_Screens] [int] NULL,
	[Model_of_Inlet_Screens] [nvarchar](50) NULL,
	[Number_of_Connector_Pipe_Screens] [int] NULL,
	[Connector_Pipe_Screen_Name_and_Manufacturer] [nvarchar](50) NULL,
	[Notes] [nvarchar](50) NULL,
	TreatmentBMPID int null
) ON [PRIMARY]
GO

INSERT [dbo].[TempSantaAna] ([BMP_Name], [Latitude], [Longitude], [Jurisdiction], [Owner], [Asset_ID_in_System_of_Record], [Trash_Capture_Status], [Sizing_Basis], [OCTA_M2_Funded_], [Year_Built_or_Installed], [Number_of_Inlet_Screens], [Model_of_Inlet_Screens], [Number_of_Connector_Pipe_Screens], [Connector_Pipe_Screen_Name_and_Manufacturer], [Notes]) VALUES (N'SAA-CBF-A-7-10', 33.73876, -117.94352, N'City of Santa Ana', N'City of Santa Ana', N'CBF-A-7-10', N'FULL', N'TRASH CAPTURE', N'YES', 2017, 0, NULL, 1, N'Connector Pipe Trash Screen - United Stormwater', N' ')
GO
INSERT [dbo].[TempSantaAna] ([BMP_Name], [Latitude], [Longitude], [Jurisdiction], [Owner], [Asset_ID_in_System_of_Record], [Trash_Capture_Status], [Sizing_Basis], [OCTA_M2_Funded_], [Year_Built_or_Installed], [Number_of_Inlet_Screens], [Model_of_Inlet_Screens], [Number_of_Connector_Pipe_Screens], [Connector_Pipe_Screen_Name_and_Manufacturer], [Notes]) VALUES (N'SAA-CBF-A-7-11', 33.73866, -117.94333, N'City of Santa Ana', N'City of Santa Ana', N'CBF-A-7-11', N'FULL', N'TRASH CAPTURE', N'YES', 2017, 0, NULL, 1, N'Connector Pipe Trash Screen - United Stormwater', N' ')
GO
INSERT [dbo].[TempSantaAna] ([BMP_Name], [Latitude], [Longitude], [Jurisdiction], [Owner], [Asset_ID_in_System_of_Record], [Trash_Capture_Status], [Sizing_Basis], [OCTA_M2_Funded_], [Year_Built_or_Installed], [Number_of_Inlet_Screens], [Model_of_Inlet_Screens], [Number_of_Connector_Pipe_Screens], [Connector_Pipe_Screen_Name_and_Manufacturer], [Notes]) VALUES (N'SAA-CBF-A-7-15', 33.73779, -117.94351, N'City of Santa Ana', N'City of Santa Ana', N'CBF-A-7-15', N'FULL', N'TRASH CAPTURE', N'YES', 2014, 0, NULL, 1, N'Connector Pipe Trash Screen - United Stormwater', N' ')
GO

declare @TrashCaptureStatusFull int = 1;
declare @TrashCaptureStatusPartial int = 2;
declare @TrashCaptureStatusNone int = 3;

declare @SizingBasisFullTrashCapture int = 1;
declare @SizingBasisWaterQuality int = 2;
declare @SizingBasisOther int = 3;
declare @SizingBasisNotProvided int = 4;


declare @CatchBasinNoScreen int = 42;
declare @CatchBasin int = 35;
declare @SantaAnaSWJ int = 31;
declare @SantaAnaO int = 31;
declare @InventoryVerified int = 0;


-- Insert the Trash Capture = None guys

Insert into dbo.TreatmentBMP(
	[TreatmentBMPName],
	[TreatmentBMPTypeID],
	[LocationPoint],
	[StormwaterJurisdictionID],
	[Notes],
	[SystemOfRecordID],
	[YearBuilt],
	[OwnerOrganizationID],
	[InventoryIsVerified],
	[InventoryLastChangedDate],
	[TrashCaptureStatusTypeID], 
	[SizingBasisTypeID])
select BMP_Name as TreatmentBMPName,
	   case when Trash_Capture_Status = 'NONE' then @CatchBasinNoScreen
			else @CatchBasin
	   end as TreatmentBMPTypeID,
	   geometry::Point([Longitude], [Latitude], 4326) as LocationPoint,
	   @SantaAnaSWJ as StormwaterJurisdictionID,
	   Notes as Notes,
	   Asset_ID_in_System_of_Record as SystemOfRecordID,
	   Year_Built_or_Installed as YearBuilt,
	   @SantaAnaO as OwnerOrganizationID,
	   @InventoryVerified as InventoryIsVerified,
	   GETDATE() as InventoryLastChangedDate,
	   case when Trash_Capture_Status = 'NONE' then @TrashCaptureStatusNone
			when Trash_Capture_Status = 'FULL' then @TrashCaptureStatusFull
			when Trash_Capture_Status = 'PARTIAL' THEN @TrashCaptureStatusPartial
	   end as TrashCaptureStatusTypeID,
	   case when Sizing_Basis = 'TRASH CAPTURE' then @SizingBasisFullTrashCapture
			else @SizingBasisNotProvided
	   end as SizingBasisTypeID
	   from dbo.TempSantaAna

-- attach the BMP ID to the TempSantaAna Table

Update t
set t.TreatmentBMPID = b.TreatmentBMPID
from TempSantaAna t inner join TreatmentBMP b on t.BMP_Name = b.TreatmentBMPName
where StormwaterJurisdictionID = @SantaAnaSWJ


-- custom attributes

--OCTA
declare @OCTA int = 1118
declare @OCTATcat int;
select @OCtaTcat = [TreatmentBMPTypeCustomAttributeTypeID] from TreatmentBMPTypeCustomAttributeType where TreatmentBMPTypeID = @CatchBasin and CustomAttributeTypeID = @Octa

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, @OctaTcat, @CatchBasin, @OCTA from TempSantaAna toa
where toa.Trash_Capture_Status != 'NONE' and Toa.OCTA_M2_Funded_ is not null 

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID,  'Yes'
from dbo.TempSantaAna toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @OCTA and toa.OCTA_M2_Funded_ is not null and toa.OCTA_M2_Funded_ <> ''


--Number of Inlet Screens
declare @Number_of_Inlet_Screens int = 90
declare @Number_of_Inlet_ScreensTcat int;
select @Number_of_Inlet_ScreensTcat = [TreatmentBMPTypeCustomAttributeTypeID] from TreatmentBMPTypeCustomAttributeType where TreatmentBMPTypeID = @CatchBasin and CustomAttributeTypeID = @Octa

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, @Number_of_Inlet_ScreensTcat, @CatchBasin, @Number_of_Inlet_Screens from TempSantaAna toa
where toa.Trash_Capture_Status != 'NONE' 

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID,  Toa.Number_of_Inlet_Screens
from dbo.TempSantaAna toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @Number_of_Inlet_Screens


--Model of Inlet Screens
declare @Model_of_Inlet_Screens int = 96
declare @Model_of_Inlet_ScreensTcat int;
select @Model_of_Inlet_ScreensTcat = [TreatmentBMPTypeCustomAttributeTypeID] from TreatmentBMPTypeCustomAttributeType where TreatmentBMPTypeID = @CatchBasin and CustomAttributeTypeID = @Octa

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, @Model_of_Inlet_ScreensTcat, @CatchBasin, @Model_of_Inlet_Screens from TempSantaAna toa
where toa.Trash_Capture_Status != 'NONE' and Toa.Model_of_inlet_screens is not null

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID,  Toa.Model_of_Inlet_Screens
from dbo.TempSantaAna toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @Model_of_Inlet_Screens


--number of connector pipe Screens
declare @Number_of_Connector_Pipe_Screens int = 91
declare @Number_of_Connector_Pipe_ScreensTcat int;
select @Number_of_Connector_Pipe_ScreensTcat = [TreatmentBMPTypeCustomAttributeTypeID] from TreatmentBMPTypeCustomAttributeType where TreatmentBMPTypeID = @CatchBasin and CustomAttributeTypeID = @Octa

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, @Number_of_Connector_Pipe_ScreensTcat, @CatchBasin, @Number_of_Connector_Pipe_Screens from TempSantaAna toa
where toa.Trash_Capture_Status != 'NONE' 

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID,  Toa.Number_of_Connector_Pipe_Screens
from dbo.TempSantaAna toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @Number_of_Connector_Pipe_Screens

--model of connector pipe Screens
declare @Connector_Pipe_Screen_Name_and_Manufacturer int = 75
declare @Connector_Pipe_Screen_Name_and_ManufacturerTcat int;
select @Connector_Pipe_Screen_Name_and_ManufacturerTcat = [TreatmentBMPTypeCustomAttributeTypeID] from TreatmentBMPTypeCustomAttributeType where TreatmentBMPTypeID = @CatchBasin and CustomAttributeTypeID = @Octa

Insert into dbo.CustomAttribute ([TreatmentBMPID], [TreatmentBMPTypeCustomAttributeTypeID], [TreatmentBMPTypeID], [CustomAttributeTypeID])
select toa.TreatmentBMPID, @Connector_Pipe_Screen_Name_and_ManufacturerTcat, @CatchBasin, @Connector_Pipe_Screen_Name_and_Manufacturer from TempSantaAna toa
where toa.Trash_Capture_Status != 'NONE' and Toa.Connector_Pipe_Screen_Name_and_Manufacturer is not null

Insert into dbo.CustomAttributeValue ([CustomAttributeID], [AttributeValue])
select 
ca.CustomAttributeID,  Toa.Connector_Pipe_Screen_Name_and_Manufacturer
from dbo.TempSantaAna toa inner join dbo.CustomAttribute ca on toa.TreatmentBMPID = ca.TreatmentBMPID
where ca.CustomAttributeTypeID = @Connector_Pipe_Screen_Name_and_Manufacturer

drop table if exists dbo.TempSantaAna