CREATE TABLE [dbo].[NewTreatmentBMPLocations](
	[TreatmentBMPID] [int] NOT NULL,
	[LocationPoint] [geometry] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

INSERT [dbo].[NewTreatmentBMPLocations] ([TreatmentBMPID], [LocationPoint]) VALUES (5409, 0xE6100000010C855DF8E720755DC09356121642E24040)
GO
INSERT [dbo].[NewTreatmentBMPLocations] ([TreatmentBMPID], [LocationPoint]) VALUES (5410, 0xE6100000010C0C6303D025755DC0F6BD0761AEE24040)
GO
INSERT [dbo].[NewTreatmentBMPLocations] ([TreatmentBMPID], [LocationPoint]) VALUES (5411, 0xE6100000010C51BA2CDA27755DC0213C855DAEE24040)
GO

Update t
set t.LocationPoint = n.LocationPoint
from dbo.TreatmentBMP t inner join dbo.NewTreatmentBMPLocations n on t.TreatmentBMPID = n.TreatmentBMPID

Drop table dbo.NewTreatmentBMPLocations