CREATE TABLE [dbo].[Watershed](
	[WatershedID] [int] IDENTITY(1,1) NOT NULL,
	[WatershedGeometry] [geometry] NULL,
	[WatershedName] [varchar](50) NULL,
 CONSTRAINT PK_Watershed_WatershedID PRIMARY KEY
(
	[WatershedID]
)
)
GO
SET IDENTITY_INSERT [dbo].[Watershed] ON 
GO
SET IDENTITY_INSERT [dbo].[Watershed] OFF
GO
