<h2 class="d-inline-block">
    Delineation Drainage Areas
</h2>
<div class="mb-4">
    <custom-rich-text [customRichTextTypeID]="customRichTextTypeID"></custom-rich-text>
</div>
<div class="row">
    <div class="col-12">
        <div #mapDiv id={{mapID}} class="location-card" [style.height]="mapHeight"></div>
    </div>
</div>
<div class="mt-4 card">
    <div class="card-body bg-white">
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Treatment BMP</th>
                            <th>Delineation Area</th>
                            <th>Distributed?</th>
                            <th>Centralized?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let treatmentBMP of treatmentBMPs"
                            class="selectable"
                            [class.selected]="selectedListItem == treatmentBMP.TreatmentBMPID"
                            (click)="selectFeatureImpl(treatmentBMP.TreatmentBMPID)">
                            <td>{{treatmentBMP.TreatmentBMPName}}</td>
                            <td [class.font-italic]="!treatmentBMPHasDelineation(treatmentBMP.TreatmentBMPID)" >{{getDelineationAreaForTreatmentBMP(treatmentBMP.TreatmentBMPID)}}</td>
                            <td><button class="btn btn-hippocamp" (click)="drawDelineationForTreatmentBMP(treatmentBMP.TreatmentBMPID)">Draw on Map</button></td>
                            <td><button class="btn btn-hippocamp btn-disabled" placement="top" ngbTooltip="Trace Network feature coming soon">Trace Network</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row m-1 mt-3">
    <button class="btn btn-hippocamp ml-auto" [disabled]="isLoadingSubmit" (click)="onSubmit()">
        <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
        Save
    </button>
</div>