@use "/src/scss/abstracts" as *;

body {
    font-family: $overpass;
    line-height: 1;
}

a {
    color: $teal-800;
}

button {
    font-family: $overpass;
}

.site-footer a {
    color: $white;
    text-decoration: underline;
}
