<h2 class="d-inline-block mt-md-0 mt-4">
    Modeled Performance
</h2>
<div class="row m-1">
    <custom-rich-text [customRichTextTypeID]="customRichTextTypeID"></custom-rich-text>
</div>
<div class="row m-1 mb-3">
    <div class="col-4 col-md-2">
        <button class="btn btn-hippocamp" (click)="triggerModelRunForProject()">
            Calculate
        </button>
    </div>
    <div class="col-8 col-md-10">
        <p class="text-bold">Press 'Calculate' to run the model results for your project. You will be notified via email
            when the updated results are returned. Toggle the dropdown below to view results for individual BMPs.</p>
        <p>Results last calculated at (create queue and put time here)</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Location
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-5">
                        <table class="table d-block" style="overflow:scroll" [style.max-height]="mapHeight">
                            <thead>
                                <th>
                                    BMP Name
                                </th>
                                <th>
                                    <field-definition fieldDefinitionType="TreatmentBMPType" [labelOverride]="'Type'">
                                    </field-definition>
                                </th>
                                <th>
                                    Delineation Area (ac)
                                </th>
                                <th>
                                    <field-definition fieldDefinitionType="FullyParameterized"></field-definition>
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let treatmentBMP of treatmentBMPs" class="selectable"
                                    [class.selected]="selectedTreatmentBMP?.TreatmentBMPID == treatmentBMP.TreatmentBMPID"
                                    (click)="selectFeatureImpl(treatmentBMP.TreatmentBMPID)">
                                    <td>
                                        {{treatmentBMP.TreatmentBMPName}}
                                    </td>
                                    <td>
                                        {{treatmentBMP.TreatmentBMPTypeName}}
                                    </td>
                                    <td>
                                        {{getDelineationAcreageForTreatmentBMP(treatmentBMP.TreatmentBMPID)}}
                                    </td>
                                    <td>
                                        {{treatmentBMP.IsFullyParameterized ? "Yes" : "No"}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6 col-md-7">
                        <div #mapDiv id={{mapID}} class="location-card" [style.height]="mapHeight"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Model Results
            </div>
            <div class="card-body">
                
                <ng-select class="auto-grow mb-3" [(ngModel)]="treatmentBMPIDForSelectedModelResults"
                                [items]="modelingSelectListOptions" [clearable]="false" (change)="updateSelectedModelResults()" bindLabel="TreatmentBMPName" bindValue="TreatmentBMPID">
                            </ng-select>
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeID" class="nav-tabs">
                    <li [ngbNavItem]="type.key" *ngFor="let type of ModeledPerformanceDisplayTypeEnum | keyvalue : returnZero">
                        <a ngbNavLink>{{type.key}}</a>
                    </li>
                </ul>
                <div *ngIf="selectedModelResults != null">
                    <table class="table table-responsive table-striped table-condensed modelResults" *ngIf="activeID === ModeledPerformanceDisplayTypeEnum.Wet">
                        <thead>
                            <tr style="text-align: center;">
                                <th class="left">Water Balance Components</th>
                                <th>Volume (cu-ft/yr)</th>
                                <th>Percent of Inflow</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="treatmentBMPIDForSelectedModelResults != 0">
                                <td class="left">To BMP</td>
                                <td><span>{{selectedModelResults.WetWeatherInflow | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td class="left">Treated and Discharged</td>
                                <td><span>{{selectedModelResults.WetWeatherTreated | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.WetWeatherTreated / selectedModelResults.WetWeatherInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Retained or Recycled</td>
                                <td><span>{{selectedModelResults.WetWeatherRetained | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.WetWeatherRetained / selectedModelResults.WetWeatherInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Untreated (Bypass or Overflow)</td>
                                <td><span>{{selectedModelResults.WetWeatherUntreated | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.WetWeatherUntreated / selectedModelResults.WetWeatherInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr style="text-align: center;">
                                <th class="left">Pollutant</th>
                                <th>Load Reduced</th>
                                <th>Percent Reduced</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left">Total Suspended Solids</td>
                                <td><span>{{selectedModelResults.WetWeatherTSSRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.WetWeatherTSSRemoved/selectedModelResults.WetWeatherTSSInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Nitrogen</td>
                                <td><span>{{selectedModelResults.WetWeatherTNRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.WetWeatherTNRemoved/selectedModelResults.WetWeatherTNInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Phosphorous</td>
                                <td><span>{{selectedModelResults.WetWeatherTPRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.WetWeatherTPRemoved/selectedModelResults.WetWeatherTPInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Fecal Coliform</td>
                                <td><span>{{selectedModelResults.WetWeatherFCRemoved | neptuneModelingResultSigFig:2 | number}}</span> billion CFUs</td>
                                <td><span>{{100 * selectedModelResults.WetWeatherFCRemoved/selectedModelResults.WetWeatherFCInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Copper</td>
                                <td><span>{{selectedModelResults.WetWeatherTCuRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.WetWeatherTCuRemoved/selectedModelResults.WetWeatherTCuInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Lead</td>
                                <td><span>{{selectedModelResults.WetWeatherTPbRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.WetWeatherTPbRemoved/selectedModelResults.WetWeatherTPbInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Zinc</td>
                                <td><span>{{selectedModelResults.WetWeatherTZnRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.WetWeatherTZnRemoved/selectedModelResults.WetWeatherTZnInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-responsive table-striped table-condensed modelResults" *ngIf="activeID === ModeledPerformanceDisplayTypeEnum.Dry">
                        <thead>
                            <tr style="text-align: center;">
                                <th class="left">Water Balance Components</th>
                                <th>Volume (cu-ft/yr)</th>
                                <th>Percent of Inflow</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="treatmentBMPIDForSelectedModelResults != 0">
                                <td class="left">To BMP</td>
                                <td><span>{{selectedModelResults.DryWeatherInflow | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td class="left">Treated and Discharged</td>
                                <td><span>{{selectedModelResults.DryWeatherTreated | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.DryWeatherTreated / selectedModelResults.DryWeatherInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Retained or Recycled</td>
                                <td><span>{{selectedModelResults.DryWeatherRetained | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.DryWeatherRetained / selectedModelResults.DryWeatherInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Untreated (Bypass or Overflow)</td>
                                <td><span>{{selectedModelResults.DryWeatherUntreated | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.DryWeatherUntreated / selectedModelResults.DryWeatherInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr style="text-align: center;">
                                <th class="left">Pollutant</th>
                                <th>Load Reduced</th>
                                <th>Percent Reduced</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left">Total Suspended Solids</td>
                                <td><span>{{selectedModelResults.DryWeatherTSSRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.DryWeatherTSSRemoved/selectedModelResults.DryWeatherTSSInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Nitrogen</td>
                                <td><span>{{selectedModelResults.DryWeatherTNRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.DryWeatherTNRemoved/selectedModelResults.DryWeatherTNInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Phosphorous</td>
                                <td><span>{{selectedModelResults.DryWeatherTPRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.DryWeatherTPRemoved/selectedModelResults.DryWeatherTPInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Fecal Coliform</td>
                                <td><span>{{selectedModelResults.DryWeatherFCRemoved | neptuneModelingResultSigFig:2 | number}}</span> billion CFUs</td>
                                <td><span>{{100 * selectedModelResults.DryWeatherFCRemoved/selectedModelResults.DryWeatherFCInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Copper</td>
                                <td><span>{{selectedModelResults.DryWeatherTCuRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.DryWeatherTCuRemoved/selectedModelResults.DryWeatherTCuInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Lead</td>
                                <td><span>{{selectedModelResults.DryWeatherTPbRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.DryWeatherTPbRemoved/selectedModelResults.DryWeatherTPbInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Zinc</td>
                                <td><span>{{selectedModelResults.DryWeatherTZnRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.DryWeatherTZnRemoved/selectedModelResults.DryWeatherTZnInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-responsive table-striped table-condensed modelResults" *ngIf="activeID === ModeledPerformanceDisplayTypeEnum.Total">
                        <thead>
                            <tr style="text-align: center;">
                                <th class="left">Water Balance Components</th>
                                <th>Volume (cu-ft/yr)</th>
                                <th>Percent of Inflow</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="treatmentBMPIDForSelectedModelResults != 0">
                                <td class="left">To BMP</td>
                                <td><span>{{selectedModelResults.TotalInflow | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td class="left">Treated and Discharged</td>
                                <td><span>{{selectedModelResults.TotalTreated | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.TotalTreated / selectedModelResults.TotalInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Retained or Recycled</td>
                                <td><span>{{selectedModelResults.TotalRetained | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.TotalRetained / selectedModelResults.TotalInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Untreated (Bypass or Overflow)</td>
                                <td><span>{{selectedModelResults.TotalUntreated | neptuneModelingResultSigFig:3 | number}}</span></td>
                                <td><span>{{100 * selectedModelResults.TotalUntreated / selectedModelResults.TotalInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr style="text-align: center;">
                                <th class="left">Pollutant</th>
                                <th>Load Reduced</th>
                                <th>Percent Reduced</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left">Total Suspended Solids</td>
                                <td><span>{{selectedModelResults.TotalTSSRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.TotalTSSRemoved/selectedModelResults.TotalTSSInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Nitrogen</td>
                                <td><span>{{selectedModelResults.TotalTNRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.TotalTNRemoved/selectedModelResults.TotalTNInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Phosphorous</td>
                                <td><span>{{selectedModelResults.TotalTPRemoved | neptuneModelingResultSigFig:2 | number}}</span> kg</td>
                                <td><span>{{100 * selectedModelResults.TotalTPRemoved/selectedModelResults.TotalTPInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Fecal Coliform</td>
                                <td><span>{{selectedModelResults.TotalFCRemoved | neptuneModelingResultSigFig:2 | number}}</span> billion CFUs</td>
                                <td><span>{{100 * selectedModelResults.TotalFCRemoved/selectedModelResults.TotalFCInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Copper</td>
                                <td><span>{{selectedModelResults.TotalTCuRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.TotalTCuRemoved/selectedModelResults.TotalTCuInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Lead</td>
                                <td><span>{{selectedModelResults.TotalTPbRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.TotalTPbRemoved/selectedModelResults.TotalTPbInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                            <tr>
                                <td class="left">Total Zinc</td>
                                <td><span>{{selectedModelResults.TotalTZnRemoved | neptuneModelingResultSigFig:2 | number}}</span> g</td>
                                <td><span>{{100 * selectedModelResults.TotalTZnRemoved/selectedModelResults.TotalTZnInflow || 0 | number: 0}}</span>%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>