tr.selectable {
    cursor:pointer;
}

tr.selectable:hover {
    background-color:#EEE;
}

tr.selectable.selected {
    background-color: #FFFF85;
}

#modeledPerfomanceDisplayTabs {
    //This allows it to be in line with the land use table
    padding-top:1.90rem;
}

#landUseTable tr th {
    border-top:none;
}