<div class="alert" [class]="'alert-' + alert.context">
  <div class="alert-content">
    @if (alert.context == 'danger') {
      <i class="fa fa-exclamation"></i>
    }
    @if (alert.context == 'success') {
      <i class="fa fa-check"></i>
    }
    @if (alert.context == 'info' || alert.context == 'primary') {
      <i class="fa fa-info"></i>
    }
    @if (alert.context == 'warning') {
      <i class="fa fa-warning"></i>
    }
    <ng-content></ng-content>
  </div>
  @if (alert.dismissible) {
    <div class="alert-dismissible">
      <button (click)="closeAlert()" class="close">
        <span class="fa fa-close"></span>
      </button>
    </div>
  }
</div>