@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Common
@inherits Neptune.Web.Views.MaintenanceActivity.EditMaintenanceActivity

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-4 control-label">Hello, World!</div>
            <div class="col-xs-8">
                <p>Goodbye, World!</p>
            </div>
        </div>
    </div>
}