@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Areas.Trash.Views.Home.Index

@section JavascriptAndStylesContent
{
    <meta name="Description" content="Neptune provides public access to program information and details on watershed, habitat, stormwater, forestry, air quality, and projects implemented by Neptune partners."/>

    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Views/TreatmentBMP/TreatmentBMPMapController.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: null,
                        AngularViewData:
                            @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
                    };
                });

        jQuery(document).ready(function() {
            jQuery('.selectpicker').selectpicker("val", [1, 2]);
            jQuery('#trashCaptureStatusTypeDropdown').change();
        });
        // ]]>
    </script>
}


    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

    <div ng-app="NeptuneApp" ng-controller="TreatmentBMPMapController">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                @*placeholder*@
            </div>
            <div class="col-sm-4 col-md-3">
                @* placeholder *@
            </div>
            <div class="col-sm-4 col-md-6">
                <span style="font-weight: bold">Filter by Trash Capture Status</span>
                <select id="trashCaptureStatusTypeDropdown" class="btn btn-sm selectpicker" data-width="auto" multiple="multiple" ng-change="filterMapByTrashCaptureStatus()" ng-model="selectedTrashCaptureStatusIDs"
                        data-selected-text-format="count>1" data-count-selected-text="{0} of {1} selected" data-actions-box="true">
                    <option ng-repeat="trashCaptureStatusType in AngularViewData.TrashCaptureStatusTypes | orderBy:'TrashCaptureStatusTypeSortOrder'" value="{{trashCaptureStatusType.TrashCaptureStatusTypeID}}">
                        {{trashCaptureStatusType.TrashCaptureStatusTypeDisplayName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <h3>Selected asset</h3>
                <div id="mapSummaryResults">
                    <p class="systemText">No asset selected</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-8" style="margin-top: 20px;">
                <div id="mapContainer">
                    <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 350px; margin: 0">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">
                <h3>Legend</h3>
                <p class="systemText">Coming soon!</p>
            </div>
        </div>
    </div>