@use "node_modules/ag-grid-community/styles" as ag;

$grid-header-background: #0099ab;

@include ag.grid-styles(
    (
        theme: balham
    )
);

.ag-theme-balham {
  .ag-header {
    background-color: $grid-header-background;
  }

  .ag-header-row {
    color: #fff;
  }

  .ag-header-icon {
    color: #fff;
  }
}