@use "/src/scss/abstracts" as *;

.dropdown-toggle {
    .nav-link__label {
        display: inline-flex;
        align-items: center;
        gap: $spacing-200;

        icon {
            display: block;
            width: 11px;
            height: 6px;
            transform: translateY(-6px);

            ::ng-deep svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.dropdown-item {
    border: none;
    background-color: white;
    &hover {
        background-color: $gray-500;
    }
}
