<page-header pageTitle="On-Land Visual Trash Assessments Area"></page-header>
<app-alert-display></app-alert-display>

<div class="page-body" [loadingSpinner]="{ isLoading, loadingHeight: 100 }">
    <div *ngIf="onlandVisualTrashAssessmentAreas$ | async as onlandVisualTrashAssessmentAreas">
        <neptune-grid
            height="800px"
            [rowData]="onlandVisualTrashAssessmentAreas"
            [columnDefs]="ovtaAreaColumnDefs"
            downloadFileName="onland-visual-trash-assessment-areas"
            [pagination]="true"
            [sizeColumnsToFitGrid]="true"></neptune-grid>
    </div>
</div>
