<page-header pageTitle="On-Land Visual Trash Assessments Area" [templateRight]="templateRight"></page-header>

<ng-template #templateRight>
    <a *ngIf="currentUserHasJurisdictionManagePermission()" class="float-right btn btn-primary mr-2" [href]="url + '/OnlandVisualTrashAssessmentArea/BulkUploadOVTAAreas'"> <icon [icon]="'Upload'"></icon> Upload OVTA Areas </a>
    <a *ngIf="currentUserHasJurisdictionEditPermission()" class="float-right btn btn-primary mr-2" [href]="url + '/OnlandVisualTrashAssessmentExport/ExportAssessmentGeospatialData'">
        <icon [icon]="'Download'"></icon> Download OVTA Areas
    </a>
    <a class="float-right btn btn-primary" [routerLink]="['../onland-visual-trash-assessments/new/instructions']">Add New OVTA</a>
</ng-template>

<app-alert-display></app-alert-display>

<div class="page-body" [loadingSpinner]="{ isLoading, loadingHeight: 100 }">
    <ng-container *ngIf="onlandVisualTrashAssessmentAreas$ | async as onlandVisualTrashAssessmentAreas">
        <hybrid-map-grid
            [rowData]="onlandVisualTrashAssessmentAreas"
            [columnDefs]="ovtaAreaColumnDefs"
            downloadFileName="test"
            entityIDField="OnlandVisualTrashAssessmentAreaID"
            (onMapLoad)="handleMapReady($event)"
            [selectedValue]="ovtaAreaID"
            (selectedValueChange)="onSelectedOVTAAreaChanged($event)">
            <div mapLayers *ngIf="mapIsReady">
                <selected-ovta-area-layer
                    *ngIf="mapIsReady"
                    [displayOnLoad]="true"
                    [map]="map"
                    [layerControl]="layerControl"
                    [sortOrder]="10"
                    [selectedOVTAAreaID]="ovtaAreaID"
                    (layerBoundsCalculated)="handleLayerBoundsCalculated($event)"
                    (ovtaAreaSelected)="onSelectedOVTAAreaChanged($event)"></selected-ovta-area-layer>
            </div>
            <div headerActions></div>
        </hybrid-map-grid>
    </ng-container>
</div>
