a.btn {
    margin: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 10px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    padding: 1px 5px 1px 3px;
    vertical-align: text-top;
}