<h2 class="d-inline-block">
    Project Attachments
</h2>

<div class="row mt-2">
    <div class="col">
        <div class="card mr-4">
            <div class="card-header">
                Add Attachment
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit(addAttachmentForm)" #addAttachmentForm="ngForm">
                    <div class="row mt-4">
                        <div class="col-sm-3 control-label text-sm-right">
                            <label class="required">File</label>
                        </div>
                        <div class="input-group col-sm-7">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input"
                                    id="fileResource"
                                    #fileUpload (change)="fileEvent()" />    
                                <label class="custom-file-label"
                                    for="fileResource">
                                    {{getFileName()}}
                                </label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-hippocamp input-group-append" type="button"
                                    (click)="openFileUpload()">
                                    <hippocamp-icon icon="file" class="file" container="body">
                                    </hippocamp-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-7">
                            <em class="text-small mt-2">Allowed extensions: pdf, zip, doc, docx, xls, xlsx, jpg, png. Max file size: 25 MB.</em>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-7">
                            <em class="text-danger mt-2" *ngIf="displayFileErrors">File must be one of: pdf, zip, doc, docx, xls, xlsx, jpg, png</em>
                        </div>
                    </div>
                
                    <div class="row mt-4">
                        <div class="col-sm-3 control-label text-sm-right">
                            <label class="required">Display Name</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="display-name" [(ngModel)]="model.DisplayName" required
                            [ngClass]='{"field-invalid": isFieldInvalid("DisplayName")}'>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3 control-label text-sm-right">
                            <label>Description</label>
                        </div>
                        <div class="col-sm-7">
                            <textarea class="form-control" name="description" style="height: 100px" placeholder=""
                                [(ngModel)]="model.DocumentDescription">
                            </textarea>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-2">
                            <i class="fas fa-bolt"></i> Required field
                        </div>
                        <div class="col-sm-8 text-right">
                            <button type="submit" class="btn btn-hippocamp" [disabled]="isLoadingSubmit">
                                <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                                Save
                            </button>
                            <button type="reset" class="btn btn-secondary ml-1" [disabled]="isLoadingSubmit">
                                <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                                Clear
                            </button>
                        </div>
                    </div>
            
                </form>
            </div>
        </div>
    </div>
</div>