@use "/src/scss/abstracts" as *;

.page-wrapper {
    gap: $spacing-800;
}

.sign-in-card {
    background: $white;
    box-shadow: $shadow-200;

    .card-header {
        background-color: $white;
        font-weight: 700;
        font-size: $type-size-400;
        color: $blue-500;

    }

    .card-body {
        padding: $spacing-500;
        display: grid;
        gap: $spacing-400;

        p {
            font-size: $type-size-300;
            line-height: 24px;
        }
    }

    .card-footer {
        margin-top: 0;
        font-size: $type-size-200;
        line-height: 24px;
        padding: $spacing-500;
    }
}

.platform-links {
    display: grid;
    gap: $spacing-500;

    &-card {
        &:hover {
            cursor: pointer;
            // border: 2px solid $gray-200;
            border: none;
        }
        .card-header {
            text-align: center;
            background-color: $white;
            color: $primary;
        }
        .card-body {
            padding: $spacing-200;
        }
    }
}

.alert-container {
    padding: $spacing-700;
    max-width: 94rem;
}
