@using Neptune.Web.Views.Shared.ManagePhotosWithPreview
@using Neptune.Web.Views.TreatmentBMPImage
@inherits ManageTreatmentBMPImages

<form method="post" enctype="multipart/form-data">
    @{ ManagePhotosWithPreview.RenderPartialView(Html, ViewDataTyped.ManagePhotosWithPreviewViewData, Model.ManagePhotosWithPreviewForm); }
</form>

