@use "/src/scss/abstracts" as *;

.card {
    box-shadow: $shadow-300;
    border: 1px solid $gray-200;
    border-radius: $border-radius-200;

    &-55 {
        max-width: 55rem;
    }

    &-header {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        .section-title {
            padding-bottom: 0;
        }

        padding: 1rem 1.25rem;
        margin-bottom: 0;
        background-color: #969491;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        color: $white;
        font-weight: 700;
    }

    &-actions {
        & > * + * {
            margin-left: 1rem;
        }
    }

    &-title {
        font-size: $type-size-400;
        font-weight: 700;
        margin: 0;
        padding: 0;
        color: $white;

        i {
            font-size: $type-size-200;
            transform: translateY(-6px);
        }
    }

    &-body {
        padding: $spacing-500 $spacing-600;

        & + .card-footer {
            margin-top: $spacing-500;
        }
    }

    &-footer {
        border-top: 1px solid rgba(black, 0.05);
        border-bottom: 1px solid rgba(black, 0.05);
        padding: 1.5rem 0;
        gap: 0.5rem;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}
