.square-svg {
    svg {
        width: 1em;
        height: 1em;
    }
}
svg {
    path {
        fill: currentColor;
    }
}

svg.no-fill {
    path {
        fill: none;
        stroke: currentColor;
    }
}
