@use "/src/scss/abstracts" as *;

#menu-dropdown {
    font-size: 0.75rem;
    padding-inline: 0.5rem;
}

.context-menu {
    display: none;
    position: absolute;
    top: 0.65rem;
    left: 0.25rem;
    background: white;
    padding: 0.75rem;
    box-shadow: $shadow-100;
    border-radius: 0.25rem;
    border: 1px solid rgba($primary, 1);

    &.active {
        display: grid;
        min-width: 8rem;
    }

    button,
    a {
        font-size: $type-size-150;
        display: inline-block;
        padding: 0;
        border: none;
        text-align: left;
        color: $primary;
        background: none;
        appearance: none;
        line-height: 1.5em !important;

        & + * {
            margin-top: 0.5rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &-btn {
        font-size: $type-size-100;
        font-weight: bold;
        line-height: auto;
    }
}
