<div class="mt-md-0 mt-4">
    <h2 class="d-inline-block">Review and Share</h2>
</div>
<div class="row m-1">
    <custom-rich-text [customRichTextTypeID]="customRichTextTypeID"></custom-rich-text>
</div>
<ng-container *ngIf="project">
    <div class="row mt-3 mb-3">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    Project Basics
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="text-sm-right col-sm-4">Name</dt>
                        <dd class="col-sm-7">
                            {{project?.ProjectName}}
                        </dd>

                        <dt class="text-sm-right col-sm-4 mt-2">Description</dt>
                        <dd class="col-sm-7 mt-2">
                            {{project?.ProjectDescription}}
                            <em *ngIf="!project?.ProjectDescription" class="text-muted">None Provided</em>
                        </dd>

                        <dt class="text-sm-right col-sm-4 mt-2">Status</dt>
                        <dd class="col-sm-7 mt-2">
                            {{project?.ProjectStatus.ProjectStatusDisplayName}}
                        </dd>

                        <dt class="text-sm-right col-sm-4 mt-2">Date Created</dt>
                        <dd class="col-sm-7 mt-2">
                            {{project?.DateCreated | date: 'MM/dd/yyyy'}}
                        </dd>


                        <dt class="text-sm-right col-sm-4 mt-2">Project Owner</dt>
                        <dd class="col-sm-7 mt-2">
                            {{project?.Organization.OrganizationName}}
                        </dd>

                        <dt class="text-sm-right col-sm-4 mt-2">Jurisdiction</dt>
                        <dd class="col-sm-7 mt-2">
                            {{project?.StormwaterJurisdiction.Organization.OrganizationName}}
                        </dd>

                        <dt class="text-sm-right col-sm-4 mt-2">Primary Contact</dt>
                        <dd class="col-sm-7 mt-2">
                            {{project?.PrimaryContactPerson.FullName}}
                        </dd>

                        <dt class="text-sm-right col-sm-4 mt-2">Additional Contact Information</dt>
                        <dd class="col-sm-7 mt-2">
                            {{project?.AdditionalContactInformation}}
                            <em *ngIf="!project?.AdditionalContactInformation" class="text-muted">None Provided</em>
                        </dd>

                        <dt class="text-sm-right col-sm-4 mt-2">Includes Stormwater Treatment BMPs
                        </dt>
                        <dd class="col-sm-7 mt-2">
                            {{project?.DoesNotIncludeTreatmentBMPs ? "No" : "Yes"}}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mt-lg-0 mt-3">
            <div class="card">
                <div class="card-header">
                    Share Project
                </div>
                <div class="card-body">
                    <p class="mt-2">Make visible to:</p>
                    <div class="row ml-4">
                        <div class="col">
                            <input type="checkbox" name="OCTAM2Tier2" id="OCTAM2Tier2" [(ngModel)]="shareOCTAM2Tier2Scores">
                            <label for="OCTAM2Tier2" class="control-label ml-2">
                                <field-definition fieldDefinitionType="OCTAM2Tier2GrantProgram"></field-definition>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto ml-auto">

                            <button (click)="onSubmit()" class="btn btn-hippocamp" [disabled]="isLoadingSubmit">
                                <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                                Save and Share
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3" *ngIf="!project?.DoesNotIncludeTreatmentBMPs">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Treatment BMPs
                </div>
                <div class="card-body">
                    <hippocamp-treatment-bmp-map-editor-and-modeling-attributes #treatmentBMPMapAndModelingAttributes
                        [readOnly]="true" [includeDelineations]="true" [projectID]="projectID" [zoomToProjectExtentOnLoad]="true" [zoomOnSelection]="true">
                    </hippocamp-treatment-bmp-map-editor-and-modeling-attributes>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3" *ngIf="showModelResultsPanel()">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Model Results
                </div>
                <div class="card-body">
                    <hippocamp-model-results [projectID]="project.ProjectID" [treatmentBMPs]="treatmentBMPs"
                        [delineations]="delineations" [projectNetworkSolveHistories]="projectNetworkSolveHistories">
                    </hippocamp-model-results>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3" *ngIf="attachments && attachments.length > 0">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Attachments
                </div>
                <div class="card-body">
                    <hippocamp-attachments-display [attachments]="attachments"></hippocamp-attachments-display>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3" *ngIf="project.CalculateOCTAM2Tier2Scores">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Grant Metrics
                </div>
                <div class="card-body">
                    <hippocamp-grant-scores [projectID]="projectID"></hippocamp-grant-scores>
                </div>
            </div>
        </div>
    </div>
</ng-container>