@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin";

$grid-header-background: #0099ab;

.ag-theme-balham {
  @include ag-theme-balham((
      // use theme parameters where possible
      balham-active-color: red
  ));

  .ag-header {
    background-color: $grid-header-background;
  }

  .ag-header-row {
    color: #fff;
  }

  .ag-header-icon {
    color: #fff;
  }
}