@using LtInfo.Common.DhtmlWrappers
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@inherits Neptune.Web.Views.Delineation.DelineationReconciliationReport
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}


@section RightOfPageTitle
{
}

@{ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData);}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                <div class="pull-right small"><i>Network Catchments last updated on: @ViewDataTyped.NetworkCatchmentsLastUpdated</i></div>
                Treatment BMPs with Misaligned Distributed Delineations
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:600px", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>