.neptune-leaflet-control {
  background: white;
  padding: 7px;
}
.neptune-leaflet-control#selectedAssetControl {
  width: 240px;
}
.neptune-leaflet-control#beginDelineationControl {
  width: 375px;
  min-height: 260px;
}
.leaflet-bar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.leaflet-bar h4 {
  margin-top: 0;
}
label.group {
  margin-left: 20px;
  font-weight: normal;
}
.hiddenControlElement {
  display: none;
}
/* weird gross hack to allow centered controls by overriding bottom-right control placement */
.leaflet-bottom.leaflet-right {
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.leaflet-control-layers-list {
  width: 160px;
}
.leaflet-bar a#selectedBMPDetailLink {
  width: auto !important;
  height: auto !important;
  display: inline !important;
  line-height: 26px !important;
  color: #337ab7 !important;
}
.leaflet-bar a#selectedBMPDetailLink:hover {
  background: none;
}