@inherits Neptune.Web.Views.Delineation.DelineationMapTemplates

<template id="selectedAssetControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="selectedAssetControl">
        <h5>Selected BMP</h5>
        <span id="noAssetSelected" class="systemText">Select an asset on the map to see options</span>
        <div id="selectedBmpInfo" class="hiddenControlElement">
            <strong>Name: </strong> <a id="selectedBMPDetailLink" target="_blank"></a> <br />
            <strong>Type: </strong><span id="selectedBMPType"></span><br />
            <hr>
            <h5>Selected Delineation</h5>
            <strong>Type: </strong> <span id="delineationType"></span><br />
            <strong>Area: </strong><span id="delineationArea">-</span> <br />
            <div id="delineationStatus">
                <strong>Status: </strong>
                <input id="verifyDelineationButton" type="checkbox" data-toggle="toggle" data-on="Verified" data-off="Provisional" data-width="100"/>
            </div>
            
            <div style="margin-top: 5px;" id="editOrDeleteDelineationButtonsWrapper">
                <button class="btn btn-sm btn-neptune" id="delineationButton" type="button">Edit</button>
                <button class="btn btn-sm btn-neptune" id="deleteDelineationButton" style="display: none;"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
            
            <div style="margin-top: 5px;" id="editLocationButtonWrapper">
                <hr/>
                <button class="btn btn-sm btn-neptune" id="editLocationButton" type="button">Edit Location</button>
            </div>
            
            <div class="hiddenControlElement" id="editLocationModeButtonsWrapper">
                <hr />
                <p>Click the map to set a new location for this BMP.</p>
                <button class="btn btn-sm btn-neptune" id="saveLocationButton" type="button">Save Location</button>
                <button class="btn btn-sm btn-neptune" id="cancelLocationButton" type="button">Cancel</button>
            </div>

            <div class="hiddenControlElement" id="saveCancelAndThinButtonsWrapper">
                <button class="btn btn-sm btn-neptune" id="saveDelineationButton" type="button">Save</button>
                <button class="btn btn-sm btn-neptune" id="cancelDelineationButton" type="button">Cancel</button>
                <button class="btn btn-sm btn-neptune" id="delineationVertexThinningButton" type="button">Thin</button>

                <span style="width: 90%; display: none;" id="vertexControlContainer">
                    <input id="vertexControl" data-slider-id="vertexControlSlider" type="text" />
                </span>
            </div>
        </div>
    </div>
</template>
<template id="beginDelineationControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="beginDelineationControl">
        <div class="row">
            <div class="col-sm-10"><h4>Delineate Drainage Area</h4></div>
            <div class="col-sm-2 text-right"><button id="closeBeginDelineationControlButton" class="btn btn-sm btn-neptune">x</button></div>
        </div>
        <div id="beginDelineationOptions">
            @*The values of these radios must correspond to the values used in BeginDelineation.delineate*@
            <label>1. Select the type of flow this BMP will receive</label><br>
            <label class="group"><input type="radio" name="flowOption" id="flowOptionDistributed" value="Distributed"> Receives Local Surface Flow Only (Distributed)</label><br>
            <label class="group"><input type="radio" name="flowOption" id="flowOptionCentralized" value="Centralized"> Receives Both Piped Flow and Local Surface Flow (Centralized)</label>
            <hr>
            <label>2. Choose a delineation option</label><br>
            <span id="noFlowOptionSelectedText" class="systemText">Select a flow type above to see delineations options. <br /><br /></span>
            <div id="delineationTypeOptions">
                <label class="group" id="delineationOptionAuto"><input type="radio" name="delineationOption" value="autoDelineate"> Delineate Automatically from DEM <br></label>
                <label class="group" id="delineateOptionTrace"><input type="radio" name="delineationOption" value="traceDelineate"> Trace Network Catchments <br></label>
                <label class="group" id="delineationOptionDraw"><input type="radio" name="delineationOption" value="drawDelineate"> <span id="delineationOptionDrawText"></span> <br></label>
            </div>
        </div>
        <div class="text-right">
            <button id="continueDelineationButton" class="btn btn-sm btn-neptune" disabled="disabled" type="button">Delineate</button>
            <button id="cancelDelineationButton" class="btn btn-sm btn-neptune" type="button">Cancel</button>
        </div>
    </div>
</template>
