@using LtInfo.Common
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.Delineation.DelineationMap

@section JavascriptAndStylesContent
{
    @{MapJavascriptIncludes.RenderPartialView(Html);}

    <style>
        .selectedAssetControl {
            background: white;
            padding: 7px;
            cursor: none;
            width: 240px;
        }

        .selectedAssetControl p {
            font-style: italic;
            margin-bottom: 0;
        }
        
        .selectedAssetControl hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        /* weird gross hack to allow centered controls by overriding bottom-right control placement */
        .leaflet-bottom.leaflet-right {
            right: 50%;
            transform: translate(50%, 0%);
            bottom: 50%;
            transform: translate(0%, 50%);
        }

        .beginDelineationControl {
            background: white;
            padding: 7px;
            cursor: none;
            width: 350px;
            height: 200px;
        }

    </style>
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.GeoServerMap.min.js")" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js" type="text/javascript"></script>
    <script>
        L.Control.Watermark = L.Control.extend({
            onAdd: function (map) {
                var img = L.DomUtil.create('img');

                img.src = '/Content/img/OCStormwater/banner_logo.png';
                img.style.width = '200px';

                return img;
            },

            onRemove: function (map) {
                // Nothing to do here
            }
        });

        L.control.watermark = function (opts) {
            return new L.Control.Watermark(opts);
        }

        L.Control.DelineationMapSelectedAsset = L.Control.extend({
            onAdd: function (map) {
                this._div = L.DomUtil.create('div', 'selectedAssetControl leaflet-bar');
                this._div.innerHTML = '<h4>Selected Asset</h4>';

                this.reset();

                this._div.append(this._innerDiv);

                return this._div;
            },

            onRemove: function (map) {
                //perfunctory
            },

            update: function (feature) {
                this._innerDiv.innerHTML = 'BMP: ' + feature.properties["Name"] +
                    '<hr/>' +
                    'Drainage Area</br>' +
                    '<p>No catchment delineation has been performed for this BMP</p>';

                var delinBtn = L.DomUtil.create('button', "delinBtn btn btn-sm btn-neptune");
                delinBtn.type = "button";
                delinBtn.innerHTML = 'Delineate Drainage Area';

                L.DomEvent.on(delinBtn,
                    'click',
                    function (e) {
                        window.mappo.loadBeginDelineationControl();
                        e.stopPropagation();
                    });

                this._innerDiv.append(delinBtn);
            },

            reset: function () {
                if (!this._innerDiv) {
                    this._innerDiv = L.DomUtil.create('div', 'selectedAssetInfo');
                }
                this._innerDiv.innerHTML = '<p>Select a BMP on the map to see options.</p>';
            }
        });

        L.control.delineationSelectedAsset = function (opts) {
            return new L.Control.DelineationMapSelectedAsset(opts);
        }

        L.Control.BeginDelineation = L.Control.extend({
            onAdd: function(map) {
                var div = L.DomUtil.create('div', 'beginDelineationControl leaflet-bar');
                div.innerHTML = "bargle";
                return div;
            },
            onRemove: function() {
                // todo: clean up the bargle
            }
        });

        L.control.beginDelineation = function(opts) {
            return new L.Control.BeginDelineation(opts);
        }

    </script>
}

<div class="row">
    <div class="col-sm-12">
        <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 700px;"></div>
    </div>
</div>

<script>
    var mappo;
    var selectedAsset;
    var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
    var geoserverUrl = @Html.Raw(ViewDataTyped.GeoServerUrl.ToJS());

    var mapMethods = {
        loadBeginDelineationControl: function() {
            console.log("you're trying to delineate, ain't ya?");
            console.log(this);
            this.beginDelineationControl = L.control.beginDelineation({ position: 'bottomright' });
            this.beginDelineationControl.addTo(this.map);
        },
        initializeTreatmentBMPClusteredLayer: function () {
            this.treatmentBMPLayer = L.geoJson(
                mapInitJson.TreatmentBMPLayerGeoJson.GeoJsonFeatureCollection,
                {
                    pointToLayer: NeptuneMaps.DefaultOptions.pointToLayer
                });
            if (this.markerClusterGroup) {
                this.map.removeLayer(markerClusterGroup);
            }

            this.markerClusterGroup = this.makeMarkerClusterGroup(this.treatmentBMPLayer);
            this.treatmentBMPLayer.on('click',
                function (e) {
                    this.setSelectedMarker(e.layer.feature), selectedAsset.update(e.layer.feature);
                }.bind(this));
        }
    }

    jQuery(function () {
        mappo = new NeptuneMaps.GeoServerMap(mapInitJson, "Terrain", geoserverUrl);
        L.Util.extend(mappo, mapMethods);

        var ocstormwaterParcels = "OCStormwater:Parcels";
        mappo.addWmsLayer("OCStormwater:NetworkCatchments", "Network Catchments");
        mappo.addWmsLayerWithParams(ocstormwaterParcels, "All Parcels",
            {
                styles: "parcel_alt"
            });
        mappo.addEsriTileLayer("https://ocgis.com/arcpub/rest/services/Flood/Stormwater_Network/MapServer/",
            "Stormwater Network");
        mappo.initializeTreatmentBMPClusteredLayer();

        L.control.watermark({ position: 'bottomleft' }).addTo(mappo.map);
        selectedAsset = L.control.delineationSelectedAsset({ position: 'topleft' });
        selectedAsset.addTo(mappo.map);

        mappo.map.on('click', function(e) {
            mappo.deselect(selectedAsset.reset.bind(selectedAsset));
        });

        window.mappo = mappo;
    });

    var showBMPDelineation = function(feature) {
        var url = feature.properties["DelineationURL"];
        // todo todid todoes
    };

</script>