@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using Neptune.Web.Models
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@inherits Neptune.Web.Views.Delineation.DelineationReconciliationReport
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}


@section RightOfPageTitle
{
    <div style="display: inline-block; vertical-align: middle; margin-right: 4px" class="text-right">
        <i>Regional Subbasins last updated on: @ViewDataTyped.RegionalSubbasinsLastUpdated</i><br />
    </div>
    @if (ViewDataTyped.CurrentPerson.IsAdministrator())
    {
        <div style="display: inline-block; vertical-align: top">
            @ModalDialogFormHelper.ModalDialogFormLink("Check for Discrepancies", ViewDataTyped.CheckForDiscrepanciesUrl, "Check for Discrepancies between Delineations and Regional Sub-basin layers", 400, "Continue", "Cancel", new List<string> {"btn", "btn-neptune"}, null, null)
        </div>
    }
}

@{ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData);}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Treatment BMPs with Discrepancies with the most recent Regional Sub-basin Layer
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>

        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Treatment BMPs that are overlapping
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.OverlappingTreatmentBMPsGridSpec, ViewDataTyped.OverlappingTreatmentBMPsGridName, ViewDataTyped.OverlappingTreatmentBMPsGridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>