<div class="document mb-2" [ngClass]="{ selected: selected }">
    <div class="document__body">
        <a href="javascript:void(0)" (click)="onDownload()" title="Download File" class="document__link">
            <span class="document__icon">
                <icon [icon]="'PDF'"></icon>
            </span>
            <div class="document__title">{{ keyDocument.DisplayName }}</div>
        </a>

        <div class="document__meta">
            <span class="document__meta-item"><strong>Size: </strong>&nbsp;{{ formatFileSize(keyDocument.FileResource.ContentLength) }}</span>
            <span class="document__meta-item"><strong>Date Modified:&nbsp;</strong> {{ keyDocument.UploadDate | date: "MMM d, y, h:mm a" }}</span>
            <span class="document__meta-item"
                ><strong>Updated by: </strong>
                <span class="document__meta-item--user"
                    >&nbsp;
                    @if (keyDocument.FileResource.CreatePerson) {
                        <a href="{{ ocStormwaterToolsMainUrl() }}/User/Detail/{{ keyDocument.FileResource.CreatePerson.PersonID }}">
                            {{ keyDocument.FileResource.CreatePerson.FullName }}
                        </a>
                    }
                </span>
            </span>
        </div>
    </div>
</div>
