<div class="document-upload-container g-col-12">
    @if (showHeader) {
        <div class="grid-12 mb-2 pb-2 underline">
            <div class="title-container g-col-9">
                @if (title) {
                    <h3 class="section-title text-primary mr-2">{{ title }}</h3>
                    @if (fileResources) {
                        <div class="file-count">{{ fileResources?.length }}</div>
                    }
                }
            </div>
            <div class="g-col-3 flex-end">
                @if (allowUploading) {
                    <button class="btn btn-primary upload-button" (click)="openFileUploadModal()"><icon icon="Upload" class="mr-1 upload-icon"></icon>Upload</button>
                }
            </div>
        </div>
    }
    <div class="existing-file-container mb-4">
        @for (fileResource of fileResources; track fileResource) {
            <div class="existing-file">
                <div class="grid-12 file-row">
                    <div class="g-col-8">
                        <div class="file-info mb-2">
                            <icon [icon]="'File'" [enableFontSize]="true" class="mr-1" style="font-size: 16px"></icon>
                            <span class="file-name">
                                <b>{{ fileResource.OriginalBaseFilename }}</b>
                            </span>
                        </div>
                        <div class="file-description mb-2">
                            <em>{{ fileResource.DocumentDescription }}</em>
                        </div>
                        <div>
                            <b>Uploaded {{ fileResource.CreateDate | date: "short" }}</b>
                        </div>
                    </div>
                    <div class="g-col-4 actions">
                        @if (fileResource.IsImage) {
                            @if (imagePreviewUrls[fileResource.FileResourceGUID]) {
                                <a href="javascript:void(0);" (click)="hideImagePreview(fileResource)" class="download-link mr-2">
                                    <icon class="download-icon-button mr-1" icon="Resend"></icon>
                                    <span>Hide Preview</span>
                                </a>
                            } @else {
                                <a href="javascript:void(0);" (click)="loadImagePreview(fileResource)" class="download-link mr-2">
                                    <icon class="download-icon-button mr-1" icon="Question"></icon>
                                    <span>Preview</span>
                                </a>
                            }
                        }

                        <a href="javascript:void(0);" (click)="downloadFileResource(fileResource)" class="download-link mr-2">
                            <icon class="download-icon-button mr-1" icon="Download"></icon>
                            <span>Download</span>
                        </a>

                        @if (allowEditing) {
                            <icon class="edit-file-icon-button mr-2" [icon]="'CirclePencil'" (click)="openFileDescriptionUpdateModal(fileResource)"></icon>
                            <icon class="delete-file-icon-button" [icon]="'CircleX'" (click)="deleteFileResource(fileResource)"></icon>
                        }
                    </div>
                    @if (fileResource.IsImage && imagePreviewUrls[fileResource.FileResourceGUID]) {
                        <div class="g-col-12 image-preview-row">
                            <img [src]="imagePreviewUrls[fileResource.FileResourceGUID]" alt="Image preview" class="file-image-preview" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
