@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Neptune</h1>
    <h2>OC Stormwater Tools</h2>
    <p class="lead">And the mighty Roman god Neptune said, "Hello world!".</p>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>
