@inherits Neptune.WebMvc.Views.Delineation.DelineationMapTemplates

<template id="selectedAssetControlTemplate">
    
</template>


<template id="beginDelineationControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="beginDelineationControl">
        <div class="row">
            <div class="col-sm-10"><h4>Delineate Drainage Area</h4></div>
            <div class="col-sm-2 text-right"><button id="closeBeginDelineationControlButton" class="btn btn-sm btn-neptune">x</button></div>
        </div>
        <div id="beginDelineationOptions">
            @*The values of these radios must correspond to the values used in BeginDelineation.delineate*@
            <label>1. Select the type of flow this BMP will receive</label><br>
            <label class="group"><input type="radio" name="flowOption" id="flowOptionDistributed" value="Distributed"> Receives Local Surface Flow Only (Distributed)</label><br>
            <label class="group"><input type="radio" name="flowOption" id="flowOptionCentralized" value="Centralized"> Receives Both Piped Flow and Local Surface Flow (Centralized)</label>
            <hr>
            <label>2. Choose a delineation option</label><br>
            <span id="noFlowOptionSelectedText" class="systemText">Select a flow type above to see delineations options. <br /><br /></span>
            <div id="delineationTypeOptions">
                <label class="group" id="delineationOptionDraw"><span id="delineationOptionDrawText"></span> <br></label>
                <label class="group" id="delineateOptionTrace">The delineation will be computed by tracing Regional Subbasins upstream.</label>
            </div>
        </div>
        <div class="text-right">
            <button id="continueDelineationButton" class="btn btn-sm btn-neptune" disabled="disabled" type="button">Delineate</button>
            <button id="cancelDelineationButton" class="btn btn-sm btn-neptune" type="button">Cancel</button>
        </div>
    </div>
</template>
