@use "/src/scss/abstracts" as *;

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon-button {
        cursor: pointer;
    }

    a {
        color: white;
    }
}
