@switch (type) { @case ('ai') {
<span class="badge ai">
    <img src="./assets/main/icons/esa-ai.svg" alt="AI Icon" style="width: 15px" />
    Created with AI
</span>
} @case ('human') {
<span class="badge human">
    <img src="./assets/main/icons/icon-humans.svg" alt="Human Icon" style="width: 10px" />
    Edited by Humans
</span>
} @case ('human-verified') {
<span class="badge human">
    <img src="./assets/main/icons/icon-humans.svg" alt="Human Icon" style="width: 10px" />
    Human Verified
</span>
} @case ('ai-suggested') {
<span class="badge ai">
    <img src="./assets/main/icons/esa-ai.svg" alt="AI Icon" style="width: 15px" />
    AI Suggested
</span>
} }
