@*-----------------------------------------------------------------------
<copyright file="Instructions.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@inherits Neptune.Web.Views.TreatmentBMPBenchmarkAndThreshold.Instructions

@if (ViewDataTyped.TreatmentBMP.HasSettableBenchmarkAndThresholdValues())
{
    <p>
        The user sets the benchmark and threshold values for each
        treatment process employed by the BMP to treat urban
        stormwater. These values set the BMP-specific scoring
        equations used by the application to automatically calculate
        the BMP Assessment score. Benchmark values define the desired
        and achievable treatment BMP condition and are measured
        in the field. The benchmark equates to an Assessment Score of 5.
        The threshold value for a specific observation equates to a BMP Assessment Score of 2, indicating the process is
        no longer performing at an acceptable level and the intended water quality benefits of the BMP are
        threatened.
    </p>
    <br>
    <p>
        Benchmark and threshold values must be entered prior to conducting field observations for all
        BMP types except cartridge filters and drop inlets.
    </p>
    <p>You will see some icons next to some pages – here is what they mean:</p>

    <ul class="list-unstyled">
        <li>
            <span class="glyphicon glyphicon-exclamation-sign field-validation-warning displayIcon"></span> Required information has not been completely provided (section incomplete).
        </li>
        <li>
            <span class="glyphicon glyphicon-ok field-validation-success displayIcon"></span> Required information has been provided (section complete).
        </li>
        <li>
            <span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020;font-size: 8px;margin-left: 8px;margin-right: 12px;"></span><span>User input required - Fields with this icon are required. Fields without this icon are optional or only required under certain conditions.</span>
        </li>  
    </ul>
}
else
{
    <p>This treatment BMP does not have settable benchmark and threshold values. Go ahead and start your assessments!</p>
}

<div class="wizardButtonGroup">
    <hr>
    <a href="@ViewDataTyped.NextSectionUrl" class="btn btn-neptune" >Continue</a>
</div>
