@use "/src/scss/abstracts" as *;

li.list-group-item {
    padding: $spacing-400;
    cursor: pointer;

    .treatment-bmp-type {
        font-size: $type-size-150;
        margin-top: $spacing-200;
    }
}

li.list-group-item:hover {
    background-color: #eee;
}

li.list-group-item.selected {
    background-color: #ffff85;
}

.units-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .units {
        position: absolute;
        pointer-events: none;
        right: 2rem;
        color: $gray-700;
    }
}
