@use "/src/scss/abstracts" as *;

tr.selectable {
    cursor: pointer;
}

tr.selectable:hover {
    background-color: $teal-200;
}

tr.selectable.selected {
    background-color: $yellow-selected;
}

#modeledPerfomanceDisplayTabs {
    //This allows it to be in line with the land use table
    padding-top: 1.9rem;
}

#landUseTable tr th {
    border-top: none;
}
