<!-- Alerts and Info -->
@if (jurisdiction$ | async; as jurisdiction) {
<page-header [pageTitle]="jurisdiction.StormwaterJurisdictionName" [templateAbove]="templateAbove"></page-header>
<ng-template #templateAbove>
    <div class="back">
        <a [routerLink]="['/inventory/jurisdictions']" class="back__link">Back to Jurisdictions</a>
    </div>
</ng-template>
<app-alert-display></app-alert-display>
<div class="grid-12">
    <div class="g-col-4">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Basics</span>
            </div>
            <div class="card-body">
                <dl class="grid-12">
                    <dt class="g-col-7">Which BMPs are Visible to the Public?</dt>
                    <dd class="g-col-5">{{ jurisdiction.StormwaterJurisdictionPublicBMPVisibilityTypeName }}</dd>
                    <dt class="g-col-7">Which WQMPs are Visible to the Public?</dt>
                    <dd class="g-col-5">{{ jurisdiction.StormwaterJurisdictionPublicWQMPVisibilityTypeName }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="g-col-8">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Users Assigned to {{ jurisdiction.StormwaterJurisdictionName }}</span>
            </div>
            <div class="card-body">
                <div class="user-columns" style="display: flex; gap: 2rem">
                    <div class="column" style="flex: 1">
                        @for(user of usersCol1; track user) {
                        <div class="mb-2">
                            <strong>{{ user.FullName }}</strong> ({{ user.OrganizationName }})
                        </div>
                        }
                    </div>
                    <div class="column" style="flex: 1">
                        @for(user of usersCol2; track user) {
                        <div class="mb-2">
                            <strong>{{ user.FullName }}</strong> ({{ user.OrganizationName }})
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Treatment BMPs -->
    <div class="g-col-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Treatment BMPs</span>
            </div>
            <div class="card-body">
                <neptune-grid
                    [rowData]="treatmentBMPs$ | async"
                    [columnDefs]="treatmentBMPColumnDefs"
                    [pagination]="true"
                    [height]="'400px'"
                    [rowSelection]="'single'"
                    [downloadFileName]="'TreatmentBMPs'">
                </neptune-grid>
            </div>
        </div>
    </div>
</div>

}
