@*-----------------------------------------------------------------------
    <copyright file="PostMaintenanceAssessment.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.ModalDialog
@using Neptune.Web.Models
@using Neptune.Web.Views.FieldVisit

@inherits PostMaintenanceAssessment

@{
    @SetLayout("SiteLayout.cshtml", ViewDataTyped)
}

<p>
    If maintenance was recently performed on this BMP (e.g. as part of this field visit), you can record a new assessment to quantify the improved condition of the BMP.
</p>
<p>
    Use the navigation to the left to view and enter your assessment details. Be sure to click Save on each page. In order to recieve an assessment score you are required to enter observations in each section.
</p>
<p>You will see these icons next to the observation pages – here is what they mean:</p>

<ul class="list-unstyled">
    <li>
        <span class="glyphicon glyphicon-exclamation-sign field-validation-warning displayIcon"></span>&nbsp;&nbsp;Required information has not been completely provided (section incomplete)
    </li>
    <li>
        <span class="glyphicon glyphicon-ok field-validation-success displayIcon"></span>&nbsp;&nbsp;Required information has been provided (section complete)
    </li>
</ul>
<hr>
<div class="row" style="margin-bottom: 21px;">
    <div class="col-sm-2">
        @ModalDialogFormHelper.MakeDeleteLink("Delete", ViewDataTyped.PostMaintenanceAssessment != null ? ViewDataTyped.PostMaintenanceAssessment.GetDeleteUrl() : "", new List<string> { "btn btn-sm btn-neptune" }, ViewDataTyped.UserCanDeleteAssessment(ViewDataTyped.PostMaintenanceAssessment))
    </div>
    <div class="col-xs-10 text-right">

        <form method="post" class="field-visit-form">
            <button class="btn btn-neptune" style="display: inline-block;">
                <span>
                    @(ViewDataTyped.FieldVisit.GetPostMaintenanceAssessment() == null ? "Begin Post-Maintenance Assessment" : "Continue Post-Maintenance Assessment")
                </span>
                <span class="glyphicon glyphicon-triangle-right" style="margin-left: 10px;"></span>
            </button>

            <a class="btn btn-neptune" onclick="launchSaveAndWrapUpConfirmModal()">Wrap Up Visit</a>
        </form>
    </div>
</div>