@*-----------------------------------------------------------------------
    <copyright file="PostMaintenanceAssessment.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Views.FieldVisit

@inherits PostMaintenanceAssessment

@{
    @SetLayout("SiteLayout.cshtml", ViewDataTyped)
}


<p>
    The BMP assessment workflow allows input of treatment BMP observations to help determine maintenance urgency. A BMP assessment is a compilation of distinct rapid observations and/or measurements made at treatment BMPs, which results in a score between 0-5.
</p>
<p>
    Use the navigation to the left to view and enter your assessment details in the field or after an assessment is conducted. Be sure to click Save on each page. In order to recieve an assessment score you are required to enter observations in each section. Once all required observations are completed, your score will appear on the score page.
</p>
<p>You will see some icons next to some pages – here is what they mean:</p>

<ul class="list-unstyled">
    <li>
        <span class="glyphicon glyphicon-exclamation-sign field-validation-warning displayIcon"></span> Required information has not been completely provided (section incomplete).
    </li>
    <li>
        <span class="glyphicon glyphicon-ok field-validation-success displayIcon"></span> Required information has been provided (section complete).
    </li>
    <li>
        <sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> <span>User input required - Fields with this icon are required. Fields without this icon are optional or only required under certain conditions.</span>
    </li>
</ul>
<hr>
<div class="row" style="margin-bottom: 21px;">
    <div class="col-xs-12">
        <p>I want to:</p>
        @using (Html.BeginForm())
        {
            <button class="btn btn-neptune" style="display: inline-block;">
                <span>
                    @(ViewDataTyped.FieldVisit.PostMaintenanceAssessment == null ? "Begin the BMP Assessment" : "Continue the BMP Assessment")
                </span>
                <span class="glyphicon glyphicon-triangle-right" style="margin-left: 10px;"></span>
            </button>

            <a href="@ViewDataTyped.WrapupUrl" class="btn btn-neptune" style="display: inline-block;">Skip to Wrap-up <span class="glyphicon glyphicon-forward" style="margin-left: 10px;"></span></a>
        }
    </div>
</div>