@*-----------------------------------------------------------------------
    <copyright file="EditModelingApproach.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@inherits Neptune.Web.Views.WaterQualityManagementPlan.EditModelingApproach
@model Neptune.Web.Views.WaterQualityManagementPlan.EditModelingApproachViewModel
@using (Html.BeginForm())
{
    <p>Select which modeling option will be used for this WQMP site.</p>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12">
                @foreach (var waterQualityManagementPlanModelingApproach in ViewDataTyped.WaterQualityManagementPlanModelingApproaches)
                {
                    <div style="margin-bottom: 20px">
                        <label>
                            @Html.RadioButtonFor(m => m.WaterQualityManagementPlanModelingApproachID, waterQualityManagementPlanModelingApproach.WaterQualityManagementPlanModelingApproachID) @waterQualityManagementPlanModelingApproach.WaterQualityManagementPlanModelingApproachDisplayName
                        </label>
                        <br/>
                        <small>@waterQualityManagementPlanModelingApproach.WaterQualityManagementPlanModelingApproachDescription</small>
                    </div>
                }
            </div>
        </div>
    </div>
}
