@if (treatmentBMP$ | async; as treatmentBMP) {
    <page-header [pageTitle]="'Edit Images for ' + treatmentBMP.TreatmentBMPName" [templateAbove]="templateAbove">
        <ng-template #templateAbove>
            <div class="back">
                <a [routerLink]="['/treatment-bmps', treatmentBMPID]" class="back__link">Back to BMP Detail</a>
            </div>
        </ng-template>
    </page-header>
}

<app-alert-display></app-alert-display>

@if (treatmentBMPImages$ | async; as treatmentBMPImages) {
    <image-editor [images]="treatmentBMPImages"></image-editor>

    <div class="page-footer">
        <button class="btn btn-primary mr-2" (click)="save()" [disabled]="isLoadingSubmit">Save</button>
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
} @else {
    <div [loadingSpinner]="{ isLoading: true, loadingHeight: 500 }"></div>
}
