<div>
    <table class="table observationList" ng-hide="datasource.SingleValueObservations.length === 0">
        <thead>
            <tr class="row">
                <th class="col-xs-1"></th>
                <th class="col-xs-3"><label>Measurement Type</label></th>
                <th class="col-xs-2"><label>{{measurementUnitLabelAndUnit}}</label></th>
                <th class="col-xs-7"><label>Notes</label></th>
            </tr>
        </thead>
        <tr class="row" ng-repeat="observation in datasource.SingleValueObservations track by $index">
            <td class="col-xs-1">
                <span class="glyphicon glyphicon-trash blue"
                      title="Remove Observation"
                      alt="Remove Observation"
                      ng-click="deleteObservation(observation)"
                      style="cursor: pointer">
                </span>
            </td>
            <td class="col-xs-3" ng-if="propertiesToObserve.length == 1">
                <span ng-bind="propertiesToObserve[0].DisplayName" ng-model="observation.PropertyObserved" ng-init="observation.PropertyObserved = propertiesToObserve[0].DisplayName"></span>
            </td>
            <td class="col-xs-3" ng-if="propertiesToObserve.length > 1">
                <select style="width: 100%" ng-model="observation.PropertyObserved"
                        class="form-control"
                        ng-required="true">
                    <option ng-repeat="type in propertiesToObserve"
                            ng-selected="observation.PropertyObserved == type.DisplayName"
                            ng-bind="type.DisplayName"
                            value="{{type.DisplayName}}"></option>
                </select>
            </td>
            <td class="col-xs-2">
                <input class="form-control" type="number" min="{{minimumValueOfObservations}}" max="{{maximumValueOfObservations}}" ng-model="observation.ObservationValue" style="width: 100%; text-align: right" required="required" />
            </td>
            <td class="col-xs-6">
                <input class="form-control" type="text" ng-model="observation.Notes" style="width: 100%" />
            </td>
        </tr>
    </table>
    <button class="btn btn-neptune pull-right" type="button" ng-click="addObservation()" ng-hide="disableAddObservation()">
        <span class="glyphicon glyphicon-plus"></span>Add Observation
    </button>
    <div class="clearfix"></div>
</div>
