<div>
    <table class="table observationList" ng-hide="datasource.SingleValueObservations.length === 0">
        <thead>
            <tr class="row">
                <th class="col-xs-3"><label>Measurement Type</label></th>
                <th class="col-xs-3"></th>
                <th class="col-xs-6"><label>Notes</label></th>
            </tr>
        </thead>
        <tr class="row" ng-repeat="observation in datasource.SingleValueObservations track by $index">
            <td class="col-xs-3">
                <span ng-bind="observation.PropertyObserved"></span>
            </td>
            <td class="col-xs-3">
                <label class="form-check-inline" style="margin-right: 10px">
                    <input name="treatmentBMPAssessmentObservationType{{observationTypeId}}Observation{{$index}}" class="form-check-input" type="radio" ng-model="observation.ObservationValue" value="true" /> <span ng-bind="passingScoreLabel"></span>
                </label>
                <label class="form-check-inline">
                    <input name="treatmentBMPAssessmentObservationType{{observationTypeId}}Observation{{$index}}" class="form-check-input" type="radio" ng-model="observation.ObservationValue" value="false" /> <span ng-bind="failingScoreLabel"></span>
                </label>
            </td>
            <td class="col-xs-6">
                <input class="form-control" type="text" ng-model="observation.Notes" style="width: 100%" />
            </td>
        </tr>
    </table>
    <div class="clearfix"></div>
</div>
