<div>
    <table class="table observationList" ng-hide="datasource.SingleValueObservations.length === 0">
        <thead>
            <tr class="row">
                <th class="col-xs-3"><label>Measurement Type</label></th>
                <th class="col-xs-2"><label>{{measurementUnitLabelAndUnit}}</label></th>
                <th class="col-xs-7"><label>Notes</label></th>
            </tr>
        </thead>
        <tr class="row" ng-repeat="observation in datasource.SingleValueObservations track by $index">
            <td class="col-xs-3">
                <span ng-bind="observation.PropertyObserved"></span>
            </td>
            <td class="col-xs-2">
                <input class="form-control" type="number" step="any" ng-model="observation.ObservationValue" min="0" max="100" />
            </td>
            <td class="col-xs-7">
                <input class="form-control" type="text" ng-model="observation.Notes" style="width: 100%" />
            </td>
        </tr>
        <tfoot>
            <tr class="row">
                <td class="col-xs-3">
                    Other
                </td>
                <td class="col-xs-2 text-center" style="font-weight: bold" ng-class="percentIsNegative() ? 'red' : ''">
                    {{calculateRemainingPercent()}}%
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="clearfix"></div>
</div>