<!-- <ng-template #legend>
    <div><span class="glyphicon glyphicon-stop" style="color: #f2bbe0"></span>Drainage Area Point of Interest</div>
        <div><img src="/Content/img/legendImages/regionalSubbasinTraceDirectionOfFlow.png" height="12px" style="margin-bottom: 3px; margin-right: 5px" />Direction of Flow</div>
        <div><span class="glyphicon glyphicon-stop" style="color: #5600ff"></span>Upstream Regional Subbasin</div>
        <div><span class="glyphicon glyphicon-stop" style="color: #ff4345"></span>Downstream Regional Subbasin</div>
</ng-template> -->

<div class="leaflet-bottom leaflet-right text-right">
    <button type="button" class="btn btn-primary btn-sm mr-1 mb-1" style="pointer-events: auto" (click)="toggleTraceFromPointMode()">View Drainage Areas</button>
</div>
