<header class="site-header">
    <header-nav moduleTitle="AI Module"></header-nav>
    <nav class="site-nav">
        @if (currentUser$ | async; as currentUser) {
        <div style="width: 100%">
            <ul class="site-nav__links site-nav__main">
                <li class="nav-item" routerLinkActive="active">
                    <a [href]="siteUrl + '/DataHub/Index'" class="nav-link" role="button"> Data Hub </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/ai/water-quality-management-plans']" class="nav-link" role="button"> WQMPs </a>
                </li>
            </ul>
        </div>
        }
    </nav>
</header>
<main class="site">
    <div class="site-wrapper">
        <router-outlet></router-outlet>
    </div>
</main>
