@*-----------------------------------------------------------------------
    <copyright file="DiscreteCollectionMethod.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Common
@inherits Neptune.Web.Views.TreatmentBMPAssessmentObservationType.DiscreteCollectionMethod

<script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/DiscreteCollectionMethodController.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    angular.module("NeptuneApp").factory("angularModelAndViewData",
        function() {
            return {
                AngularViewData: @Html.Raw(ViewDataTyped.ViewDataForAngular.ToJsonHtmlString())
            };
        });
    angular.bootstrap(jQuery("[ng-controller=\"DiscreteCollectionMethodController\"]"), ["NeptuneApp"]);
    // ]]>
</script>

<div ng-app="NeptuneApp" id="DiscreteCollectionMethodControllerApp" ng-controller="DiscreteCollectionMethodController" ng-init="initializeWithEmptyRows()">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div>
                    @ViewDataTyped.AssessmentDescription
                </div>
                <br />
                <div discrete-value-collection-method datasource="ObservationData" measurement-unit-label-and-unit="@ViewDataTyped.MeasurementUnitLabelAndUnit" properties-to-observe="AngularViewData.PropertiesToObserve" maximum-value-of-observations="{{AngularViewData.MaximumValueOfObservations}}" minimum-value-of-observations="{{AngularViewData.MinimumValueOfObservations}}"></div>
            </div>
        </div>
    </div>
</div>