@*-----------------------------------------------------------------------
    <copyright file="PercentageCollectionMethod.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.TreatmentBMPAssessmentObservationType.PercentageCollectionMethod

<script type="text/javascript" src="@Url.Content("~/Views/TreatmentBMPAssessmentObservationType/PercentageCollectionMethodController.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    angular.module("NeptuneApp").factory("angularModelAndViewData",
        function() {
            return {
                AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
            };
        });
    angular.bootstrap(jQuery("[ng-controller=\"PercentageCollectionMethodController\"]"), ["NeptuneApp"]);
    // ]]>
</script>

<div ng-app="NeptuneApp" id="PercentageCollectionMethodControllerApp" ng-controller="PercentageCollectionMethodController" ng-init="initializeData()">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div>
                    @ViewDataTyped.AssessmentDescription
                </div>
                <br />
                <div percentage-collection-method measurement-unit-label-and-unit="@ViewDataTyped.MeasurementUnitLabelAndUnit" datasource="ObservationData"></div>
            </div>
        </div>
    </div>
</div>