@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.TreatmentBMP.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

}

@section RightOfPageTitle
{
    @if (ViewDataTyped.HasManagePermissions)
    {
        <a class="btn btn-neptune headerButtonText treatmentBMPButton" href="@ViewDataTyped.NewUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus") Add Treatment BMP</a>
    }
    <button class="btn btn-neptune" onclick="createDownloadConfirmDialog()"><span class="glyphicon glyphicon-map-marker"></span>Export Inventory to GIS</button>
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Treatment BMP Table
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:600px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>

<script>
    function createDownloadConfirmDialog()
    {         
        var alertHtml =
            "<div class='modal neptune-modal' style='width: 500px; margin:auto;'>" +
                "<div class='modal-dialog neptune-modal-dialog'>" +
                "<div class='modal-content'>" +
                "<div class='modal-header'>" +
                "<button type='button' class='btn btn-xs btn-neptune modal-close-button' data-dismiss='modal'><span>&times</span></button>" +
                "<span class='modal-title'>Export Inventory to GIS</span>" +
                "</div>" +
                "<div class='modal-body'>This will download the BMP Inventory to your computer as a collection of shapefiles. " +
                "The download process may take several minutes. Please do not close your browser or navigate to a different page until the download is complete.</div>" +
            "<div class='modal-footer'>" +
            "<button type='button' class='btn btn-neptune pull-right' data-dismiss='modal'>Cancel</button>" +
                "<a class='btn btn-neptune pull-right' style='margin-right:5px;' href='@ViewDataTyped.DownloadBMPInventoryUrl'>Continue</a>" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>";
        var alertDiv = jQuery(alertHtml);
        alertDiv.modal({ keyboard: true });
        alertDiv.draggable({ handle: ".modal-header" });
    }
</script>