#splashModal {
  background-color: #323232;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000000;
  height: 100%;
  width: 100%;
}
.droolSplashLogo {
  max-width: 480px;
}
.droolToolActionCall {
  font-size: 16pt;
  width: 340px;
  padding: 10px;
  border-radius: 22px;
}
.droolToolDialog {
  background: none;
  border: none;
}
.droolToolDialog .ui-dialog-titlebar {
  display: none;
}
.droolToolSplashHeader {
  color: #ffc03f;
  font-size: 24pt;
}
.splashHeaderContainer {
  padding: 0 5% 0 5%;
}
.droolToolSplashSubheader {
  color: white;
  font-size: 12pt;
}
.splashSubheaderContainer {
  padding: 0 5% 0 5%;
}
.droolToolSpashCartouche {
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  width: 40%;
  border-radius: 22px;
}
.h2ocSplashLogo {
  max-height: 70px;
  margin-right: 25px;
}
.mnwdSplashLogo {
  max-height: 80px;
  margin-left: 25px;
}
@media only screen and (min-width: 768px) {
  #splashModal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .droolToolActionCallContainer {
    text-align: center !important;
    padding: 0 !important;
  }
  .droolToolActionCall {
    font-size: 14pt;
  }
  .droolToolSpashCartouche {
    padding: 5px 0 5px 0;
  }
  .splashCartoucheLogo {
    margin: 0 !important;
    transform: scale(0.9);
  }
  .droolSplashLogo {
    max-width: none;
    width: 100%;
  }
  .droolToolSplashHeader {
    font-size: 18pt;
  }
}