<div class="leaflet-bottom leaflet-right text-right">
    <button class="btn btn-xs btn-neptune" style="pointer-events:auto" onclick="toggleUpstreamRSBTrace()"><span id="toggleUpstreamRSBTraceDisplay">View</span> Upstream Area</button>
</div>
