@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using Neptune.Web.Models
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@using Neptune.Web.Views.WaterQualityManagementPlan

@inherits Index

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

@section RightOfPageTitle
{
    @if (ViewDataTyped.CurrentPersonCanCreate)
    {
        <div class="pull-right">
            @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Add Plan", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus")), ViewDataTyped.NewWaterQualityManagementPlanUrl, string.Format("Create New {0}", FieldDefinition.WaterQualityManagementPlan.GetFieldDefinitionLabel()), new List<string> {"btn btn-neptune"}, true)
        </div>
    }
}

<div class="row">
    <div class="col-xs-12">
        <h2>All Water Quality Management Plans</h2>
    </div>
    <div class="col-xs-12">
        @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
    </div>
    <div class="col-xs-12">
        @Html.DhtmlxGrid(ViewDataTyped.IndexGridSpec, ViewDataTyped.IndexGridName, ViewDataTyped.IndexGridDataUrl, "", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
    </div>
</div>
@if (!ViewDataTyped.CurrentPerson.IsAnonymousOrUnassigned())
{
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-xs-12">
            <h2>All Water Quality Management Plan O&amp;M Verifications</h2>
        </div>
        <div class="col-xs-12">
            @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.VerificationNeptunePage); }
        </div>
        <div class="col-xs-12">
            @Html.DhtmlxGrid(ViewDataTyped.VerificationGridSpec, ViewDataTyped.VerificationGridName, ViewDataTyped.VerificationGridDataUrl, "", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
        </div>
    </div>  
}
