@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common.BootstrapWrappers
@using Neptune.WebMvc.Models
@using Neptune.WebMvc.Views.Shared
@inherits Neptune.WebMvc.Areas.Trash.Views.OnlandVisualTrashAssessment.Instructions

@{ @SetLayout("SiteLayout.cshtml", ViewDataTyped) }
@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }


@using (Html.BeginForm())
{
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
        </div>
        @{
            var continueButtonText = ViewDataTyped.OVTA != null ? "Continue OVTA" : "Begin OVTA";
        }
        <div class="col-xs-12 col-sm-10" style="text-align: right">
            <a class="btn btn-neptune" href="@OVTASection.InitiateOVTA.GetSectionUrl(ViewDataTyped.OVTA, ViewDataTyped.LinkGenerator)">@continueButtonText <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
}