@use "/src/scss/abstracts" as *;

h3 {
    margin-top: $spacing-400;
    margin-bottom: $spacing-400;
    font-size: $type-size-400;
}

.document {
    background: $gray-0;
    padding: $spacing-400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-400;
    border: 1px solid $gray-200;
    border-radius: $border-radius-200;

    &__sub-header {
        margin: 0;
        color: $green-600;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;

        &:not(:first-child) {
            padding-top: 1rem;
        }
    }

    &__link {
        display: grid;
        grid-template-columns: 1.25rem 1fr;
        gap: $spacing-200;
        align-items: center;
        text-decoration: none;
        color: $gray-1000;

        &:hover {
            .document__title {
                text-decoration: underline;
            }
        }
    }

    &__title {
        font-size: 1rem;
        font-weight: 500;
    }

    &__meta {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: $spacing-500;
        padding-top: $spacing-200;

        &-item {
            font-size: 0.75rem;
            color: $gray-400;
            font-weight: 400;
            vertical-align: top;
            display: inline-flex;

            strong {
                display: inline;
                font-weight: 500;
                vertical-align: top;
            }
            talentbridge-badge {
                margin-left: $spacing-100;
                margin-top: -6px;
            }
        }
    }

    &__empty {
        padding: $spacing-300;
        border: 2px dashed $gray-200;
        border-radius: $border-radius-200;
        background: $gray-50;
        color: $gray-400;
        width: stretch;
        font-style: italic;
    }

    &__actions {
        border-top: 1px solid $gray-100;
        padding-top: $spacing-300;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: $spacing-700;

        &-link {
            font-size: 0.75rem;
            color: $gray-1000;
            display: flex;
            gap: $spacing-100;
            align-items: center;
            text-decoration: none;
        }
        &-link-end {
            font-size: 0.75rem;
            color: $gray-1000;
            display: flex;
            gap: $spacing-100;
            align-items: center;
            text-decoration: none;
            margin-left: auto;
        }
        &-icon {
            font-size: 0.9375rem;
            color: $gray-600;
            text-decoration: none;

            &.ai {
                color: $blue-600;
            }
        }

        &-label {
            text-decoration: underline;
        }
    }
}
