<page-header [customRichTextTypeID]="customRichTextTypeID" pageTitle="Edit OVTA Area Location"></page-header>

<div class="page-body" *ngIf="onlandVisualTrashAssessmentArea$ | async as onlandVisualTrashAssessmentArea">
    <neptune-map (onMapLoad)="handleMapReady($event)" [mapHeight]="mapHeight" [showLegend]="false" [boundingBox]="onlandVisualTrashAssessmentArea.BoundingBox">
        <select-parcel-layer
            *ngIf="mapIsReady"
            [displayOnLoad]="true"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="10"
            [boundingBox]="onlandVisualTrashAssessmentArea.BoundingBox"
            [ovtaAreaID]="onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaID"
            (parcelsSelected)="setSelectedParcels($event)"
            (layerBoundsCalculated)="handleLayerBoundsCalculated($event)"></select-parcel-layer>
        <land-use-block-layer *ngIf="mapIsReady" [displayOnLoad]="true" [map]="map" [layerControl]="layerControl" [sortOrder]="20"></land-use-block-layer>
        <ovta-area-layer
            *ngIf="mapIsReady"
            [displayOnLoad]="true"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="15"
            [ovtaAreaID]="onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaID"></ovta-area-layer>
        <transect-line-layer
            *ngIf="mapIsReady"
            [displayOnLoad]="true"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="30"
            [ovtaAreaName]="onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaName"
            [jurisdictionID]="onlandVisualTrashAssessmentArea.StormwaterJurisdictionID"></transect-line-layer>
    </neptune-map>
    <div class="flex-between">
        <button class="btn btn-primary">Reset Map Zoom</button>
        <button class="btn btn-primary">Pick Parcels</button>
    </div>
    <hr />
    <div class="flex-end">
        <button class="btn btn-primary" (click)="save(onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaID)">Save</button>
        <a class="btn btn-primary" [routerLink]="['../']">Cancel</a>
    </div>
</div>
