<page-header [customRichTextTypeID]="customRichTextTypeID" [templateAbove]="templateAbove" pageTitle="Edit OVTA Area Location">
    <ng-template #templateAbove>
        <div class="back">
            <a [routerLink]="['../']" class="back__link">Back to OVTA Area</a>
        </div>
    </ng-template>
</page-header>

<div class="page-body" *ngIf="onlandVisualTrashAssessmentArea$ | async as onlandVisualTrashAssessmentArea">
    <neptune-map
        (onMapLoad)="handleMapReady($event, onlandVisualTrashAssessmentArea.Geometry)"
        [mapHeight]="mapHeight"
        [showLegend]="false"
        [boundingBox]="onlandVisualTrashAssessmentArea.BoundingBox">
        <!-- <select-parcel-layer
            *ngIf="mapIsReady"
            [displayOnLoad]="false"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="10"
            [boundingBox]="onlandVisualTrashAssessmentArea.BoundingBox"
            [ovtaAreaID]="onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaID"
            (parcelsSelected)="setSelectedParcels($event)"
            (layerBoundsCalculated)="handleLayerBoundsCalculated($event)"></select-parcel-layer> -->
        <land-use-block-layer *ngIf="mapIsReady" [displayOnLoad]="true" [map]="map" [layerControl]="layerControl" [sortOrder]="20"></land-use-block-layer>
        <transect-line-layer
            *ngIf="mapIsReady"
            [displayOnLoad]="true"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="30"
            [ovtaAreaName]="onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaName"
            [jurisdictionID]="onlandVisualTrashAssessmentArea.StormwaterJurisdictionID"></transect-line-layer>
    </neptune-map>
    <!-- <div class="flex-between">
        <button class="btn btn-primary">Reset Map Zoom</button>
        <button class="btn btn-primary">Pick Parcels</button>
    </div> -->
    <hr />
    <div class="flex-end">
        <button class="btn btn-primary" (click)="save(onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaID)">Save</button>
        <a class="btn btn-primary" [routerLink]="['../']">Cancel</a>
    </div>
</div>
