<nav class="navbar navbar-hippocamp navbar-expand-lg navbar-dark stroke">
    <a href="{{leadOrganizationHomeUrl()}}" class="navbar-brand" target="_blank">
        <img src="{{leadOrganizationLogoSrc()}}" class="navbarLogo" alt="{{leadOrganizationShortName()}}">
    </a>
    <a routerLink="/" routerLinkActive="active" class="navbar-brand nav-link">
        {{platformShortName()}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="!isUnassignedOrDisabled()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    View
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/watersheds" class="dropdown-item">
                        Watersheds
                    </a>
                    <div *ngIf="viewPages.length > 0" class="dropdown-divider"></div>
                    <a *ngFor="let viewPage of viewPages" routerLink="/custom-pages/{{ viewPage.CustomPageVanityUrl }}" class="dropdown-item">
                        {{ viewPage.CustomPageDisplayName }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAdministrator()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/users" class="dropdown-item">
                        Users
                    </a>
                    <a routerLink="/labels-and-definitions" class="dropdown-item">
                        Labels and Definitions
                    </a>
                    <a routerLink="/custom-pages" class="dropdown-item">
                        Custom Pages
                    </a>
                    <div *ngIf="managePages.length > 0"  class="dropdown-divider"></div>
                    <a *ngFor="let managePage of managePages" routerLink="/custom-pages/{{ managePage.CustomPageVanityUrl }}" class="dropdown-item">
                        {{ managePage.CustomPageDisplayName }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learn More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/platform-overview" class="dropdown-item">
                        Platform Overview
                    </a>
                    <a routerLink="/training" class="dropdown-item">
                        Training
                    </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/disclaimer/false" class="dropdown-item">
                        Disclaimer
                    </a>
                    <div *ngIf="learnMorePages.length > 0" class="dropdown-divider"></div>
                    <a *ngFor="let learnMorePage of learnMorePages" routerLink="/custom-pages/{{ learnMorePage.CustomPageVanityUrl }}" class="dropdown-item">
                        {{ learnMorePage.CustomPageDisplayName }}
                    </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav flex-column mt-2 mt-lg-0 mr-sm-2">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated()">
                <a href="javascript:void(0);" (click)="login()" routerLinkActive="active" class="nav-link">Sign In</a>
            </li>
            <li class="nav-item dropdown welcomeUser" routerLinkActive="active" *ngIf="isAuthenticated()"> 
                <a href="#" class="nav-link dropdown-toggle pr-3" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{isCurrentUserBeingImpersonated() ? 'Impersonating' : 'Welcome'}} {{getUserName()}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a routerLink="/help" class="dropdown-item">
                        Get Help
                    </a>
                    <a href="javascript:void(0);" (click)="logout()" class="dropdown-item">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
