<nav class="navbar navbar-hippocamp navbar-expand-lg navbar-dark stroke">
    <a href="{{leadOrganizationHomeUrl()}}" class="navbar-brand" target="_blank">
        <img src="{{leadOrganizationLogoSrc()}}" class="navbarLogo" alt="{{leadOrganizationShortName()}}">
    </a>
    <a routerLink="/" routerLinkActive="active" class="navbar-brand nav-link">
        {{platformShortName()}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAdministrator()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="/projects" class="dropdown-item">
                        Projects
                    </a>
                    <!-- I think this url needs to change in order to work in dev -->
                    <a href="{{usersListUrl()}}" class="dropdown-item">
                        Users
                    </a>
                    <a routerLink="/labels-and-definitions" class="dropdown-item">
                        Labels and Definitions
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learn More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/training" class="dropdown-item">
                        Training
                    </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav flex-column mt-2 mt-lg-0 mr-sm-2">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated()">
                <a href="javascript:void(0);" (click)="login()" routerLinkActive="active" class="nav-link">Sign In</a>
            </li>
            <li class="nav-item dropdown welcomeUser" routerLinkActive="active" *ngIf="isAuthenticated()"> 
                <a href="#" class="nav-link dropdown-toggle pr-3" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Welcome {{getUserName()}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a routerLink="/help" class="dropdown-item">
                        Get Help
                    </a>
                    <a href="javascript:void(0);" (click)="logout()" class="dropdown-item">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
