<header class="site-header">
  <header-nav moduleTitle=""></header-nav>

  <nav class="site-nav">
    @if (currentUser$ | async; as currentUser) {
      <div  style="width: 100%">
        <button class="hamburger-btn navbar-toggle collapsed" type="button" [dropdownToggle]="mainMenuToggle" aria-controls="hamburger-btn" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
          </svg>
        </button>
        <div #mainMenuToggle class="site-nav__wrapper collapse navbar-collapse">
          <ul class="site-nav__links site-nav__main">
            <li class="nav-item" routerLinkActive="active">
              <a [href]="siteUrl + '/DataHub/Index'" class="nav-link" role="button"> Data Hub </a>
            </li>
            @if (isAdministrator(currentUser) || isJurisdicionManager(currentUser)) {
              <li class="nav-item dropdown" routerLinkActive="active">
                <a
                  href="javascript:void(0);"
                  [dropdownToggle]="manageToggle"
                  class="nav-link dropdown-toggle"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <span class="nav-link__label">
                    Manage
                    <icon icon="AngleDown"></icon>
                  </span>
                </a>
                <div #manageToggle class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="dropdown-divider"></div>
                  @if (isAdministrator(currentUser) || isJurisdicionManager(currentUser)) {
                    <a href="{{ usersListUrl() }}" class="dropdown-item"> Users </a>
                  }
                  @if (isAdministrator(currentUser)) {
                    <a href="{{ organizationsIndexUrl() }}" class="dropdown-item"> Organizations </a>
                  }
                  @if (isAdministrator(currentUser)) {
                    <a [routerLink]="['/labels-and-definitions']" class="dropdown-item"> Labels and Definitions </a>
                  }
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
    }

  </nav>
</header>

<main class="site">
  <div class="site-wrapper">
    <router-outlet></router-outlet>
  </div>
</main>
