<div class="documents">
    @if (waterQualityManagementPlan$ | async; as waterQualityManagementPlan) {
        <div>
            @if (waterQualityManagementPlanDocuments$ | async; as waterQualityManagementPlanDocuments) {
                @if (waterQualityManagementPlanDocuments.length > 1) {
                    <h4 class="documents-help-text">Select a document to continue:</h4>
                }

                @for (waterQualityManagementPlanDocument of waterQualityManagementPlanDocuments; track $index) {
                    <water-quality-management-plan-document
                        [keyDocument]="waterQualityManagementPlanDocument"
                        [waterQualityManagementPlan]="waterQualityManagementPlan"
                        [isLoading]="isLoading"
                        [disableExtract]="isExtracting"
                        [selected]="waterQualityManagementPlanDocument === selectedDocument"
                        (click)="onDocumentClicked(waterQualityManagementPlanDocument)"
                        (download)="downloadFile($event)">
                    </water-quality-management-plan-document>
                }
            }
        </div>
    }
</div>
