@use "/src/scss/abstracts" as *;

.legend {
    padding: $spacing-100;
    border: 2px solid rgba(0, 0, 0, 0.2);

    .leaflet-control-layers-toggle {
        background: none;
        width: 22px;
        height: 22px;
    }

    icon {
        color: $gray-1000;
        width: 1rem;
    }

    .legend-item {
        & * + * {
            margin-left: 5px;
        }
    }

    a {
        cursor: pointer;
    }
}

.leaflet-control-layers-group-name {
    font-weight: 700;
    margin-bottom: 0.2em;
    margin-left: 3px;
}

.leaflet-control-layers-group {
    margin-bottom: 0.5em;
}

.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    padding-right: 10px;
}

.leaflet-control-layers-group-label {
    margin-bottom: 2px;
}

.leaflet-control-layers-group-selector,
.leaflet-control-layers-selector {
    vertical-align: top;
}

.leaflet-control-layers-group label:not(.leaflet-control-layers-group-label) {
    text-indent: 15px;
}

.leaflet-control-layers-group.group-collapsable.collapsed .leaflet-control-layers-group-collapse,
.leaflet-control-layers-group.group-collapsable:not(.collapsed) .leaflet-control-layers-group-expand,
.leaflet-control-layers-group.group-collapsable.collapsed label:not(.leaflet-control-layers-group-label) {
    display: none;
}

.leaflet-control-layers-group-expand-default:before {
    content: "+";
    width: 12px;
    display: inline-block;
    text-align: center;
}

.leaflet-control-layers-group-collapse-default:before {
    content: "-";
    width: 12px;
    display: inline-block;
    text-align: center;
}

.search-bar {
    padding-bottom: $spacing-050;
}

.map-wrapper {
    border: 1px solid $gray-200;
    box-shadow: $shadow-100;
    border-radius: $border-radius-200;
    margin-top: $spacing-400;

    .map-footer {
        background: $gray-100;
        display: flex;
    }
}

.attribution {
    font-size: $type-size-050;
    opacity: 0.5;
    padding-right: $spacing-100;
}
