@use "/src/scss/abstracts" as *;

.compose {
    border-radius: $spacing-400;
    border: 1px solid $gray-200;
    padding: $spacing-400;
    background: $gray-0;

    box-shadow:
        -1px 2px 5px 0px #0000001a,
        -2px 9px 10px 0px #00000017,
        -5px 21px 13px 0px #0000000d,
        -10px 38px 16px 0px #00000003,
        -15px 59px 17px 0px #00000000;

    &__textarea {
        border: none;
        width: 100%;
        resize: none;
        outline: none;
        background: none;
        font-family: $inter;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 1.5em;
        min-height: 20px;
        max-height: 200px;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
        height: auto;

        &::placeholder {
            color: $gray-500;
        }
    }

    &__input {
        padding-bottom: $spacing-300;
    }

    &__controls {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: $spacing-200;
        align-items: center;
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-200;
    }

    &__select {
        position: relative;
        talentbridge-icon {
            position: absolute;
            right: 12px;
        }
    }

    &__submit {
        &-btn {
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: $blue-600;
            cursor: pointer;
            transition: all 300ms ease;
            color: white;
            font-size: 12px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
