@inherits Neptune.WebMvc.Views.OnlandVisualTrashAssessment.ScoreDescriptions



<img src="/Content/img/OVTAScores/OVTA_ex_pics.png" style="width: 100%"/>
<hr/>
<div class="row">
    <div class="col-sm-2 text-right"><label>Score</label></div>
    <div class="col-sm-9"><label>Definition</label></div>
</div><hr />
<div class="row">
    <div class="col-sm-2 text-right">
        <label>A</label>
    </div>
    <div class="col-sm-9">
        Effectively no trash is observed in the assessment area. There may be some small pieces in the area, but they are not obvious at first glance and one individual could easily clean up all trash observed in a very short timeframe.
    </div>
</div><hr/>
<div class="row">
    <div class="col-sm-2 text-right">
        <label>B</label>
    </div>
    <div class="col-sm-9">
        Predominantly free of trash except for a few pieces that are easily observed in the assessment area. The trash could be collected by one or two individuals in a short period of time.
    </div>
</div><hr />
<div class="row">
    <div class="col-sm-2 text-right">
        <label>C</label>
    </div>
    <div class="col-sm-9">
        Trash is widely/evenly distributed and/or small accumulations are visible on the street, sidewalks, or inlets. It would take a more organized effort to remove all trash from the area.
    </div>
</div><hr />
<div class="row">
    <div class="col-sm-2 text-right">
        <label>D</label>
    </div>
    <div class="col-sm-9">
        Trash is continuously seen through the assessment area, with large piles and a strong impression of lack of concern for litter in the area. There is often significant litter along gutters. It would take a large number of people during an organized effort to remove all trash from the area.
    </div>
</div>