@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@using Neptune.WebMvc.Views.OnlandVisualTrashAssessmentExport
@using Neptune.WebMvc.Views.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inherits Neptune.WebMvc.Views.OnlandVisualTrashAssessmentExport.ExportAssessmentGeospatialData
@model Neptune.WebMvc.Views.OnlandVisualTrashAssessmentExport.ExportAssessmentGeospatialDataViewModel


@section JavascriptAndStylesContent
{
    <style>
        .systemText {
            margin-top: 5px;
        }
        .row {
            margin-top: 5px;
        }
    </style>
}

@{
    ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData);
}

<form method="post" enctype="multipart/form-data">
    <div class="formPage">
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group" style="margin-top: 0px;">
                    <div class="col-md-6">
                        @Html.LabelWithSugarFor(x => x.StormwaterJurisdictionID)
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.StormwaterJurisdictionID, ViewDataTyped.StormwaterJurisdictions, new Dictionary<string, object> { { "class", "form-control" } })
                    </div>
                </div>
                </>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-neptune"><span class="glyphicon glyphicon-download"></span> Download GDB</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

