<workflow-nav *ngIf="progress$ | async as progressDto">
    <workflow-nav-item [navRouterLink]="['instructions']" [complete]="progressDto.Steps.Instructions" [required]="false"> Instructions </workflow-nav-item>
    <workflow-nav-item [navRouterLink]="['project-basics']" [complete]="progressDto.Steps.BasicInfo" [disabled]="projectModel.ShareOCTAM2Tier2Scores">
        Basic Information
    </workflow-nav-item>
    <workflow-nav-item
        [navRouterLink]="['stormwater-treatments', 'treatment-bmps']"
        [complete]="progressDto.Steps.TreatmentBMPs"
        [disabled]="!projectModel.ProjectName || projectModel.ShareOCTAM2Tier2Scores">
        Treatment BMPs
    </workflow-nav-item>
    <workflow-nav-item
        [navRouterLink]="['stormwater-treatments', 'delineations']"
        [complete]="progressDto.Steps.Delineations"
        [disabled]="!projectModel.ProjectName || projectModel.ShareOCTAM2Tier2Scores || !doesProjectHaveTreatmentBMPs()">
        Delineations
    </workflow-nav-item>
    <workflow-nav-item
        [navRouterLink]="['stormwater-treatments', 'modeled-performance-and-metrics']"
        [complete]="progressDto.Steps.ModeledPerformanceAndGrantMetrics"
        [disabled]="!projectModel.ProjectName || projectModel.ShareOCTAM2Tier2Scores || !doesProjectHaveTreatmentBMPs()">
        Modeled Performance and Grant Metrics
    </workflow-nav-item>
    <workflow-nav-item
        [navRouterLink]="['attachments']"
        [complete]="progressDto.Steps.Attachments"
        [disabled]="!projectModel.ProjectName || projectModel.ShareOCTAM2Tier2Scores"
        [required]="false">
        Attachments
    </workflow-nav-item>
    <workflow-nav-item [navRouterLink]="['review-and-share']" [complete]="true" [required]="false" [disabled]="!projectModel.ProjectName"> Review and Share </workflow-nav-item>
</workflow-nav>
