<ng-container *ngIf="onlandVisualTrashAssessmentArea$ | async as onlandVisualTrashAssessmentArea">
    <page-header [pageTitle]="onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaName" [templateRight]="templateRight" [templateAbove]="templateAbove">
        <ng-template #templateAbove>
            <div class="back">
                <a [routerLink]="['../']" class="back__link">Back to OVTA Area Grid</a>
            </div>
        </ng-template>
        <ng-template #templateRight>
            <div class="flex-between mb-3">
                <a class="btn btn-primary mr-2" [routerLink]="['new/instructions']">Add New OVTA</a>
            </div>
        </ng-template>
    </page-header>
    <app-alert-display></app-alert-display>

    <div class="grid-12 mt-2 mb-3">
        <div class="card g-col-6" [loadingSpinner]="{ isLoading, loadingHeight: 100 }">
            <div class="card-header flex-between">Details <button class="btn btn-primary" (click)="updateOVTAAreaDetails(onlandVisualTrashAssessmentArea)">Edit</button></div>
            <div class="card-body">
                <dl class="grid-12">
                    <dt class="g-col-4">Assessment Area</dt>
                    <dd class="g-col-8">
                        {{ onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaName }}
                    </dd>
                    <dt class="g-col-4">Jurisdiction</dt>
                    <dd class="g-col-8">
                        {{ onlandVisualTrashAssessmentArea.StormwaterJurisdictionName }}
                    </dd>
                    <dt class="g-col-4">Last Assessment Date</dt>
                    <dd class="g-col-8">
                        {{ onlandVisualTrashAssessmentArea.LastAssessmentDate | date : "MM/dd/yyyy" }}
                    </dd>
                    <dt class="g-col-4"><field-definition fieldDefinitionType="BaselineScore"></field-definition></dt>
                    <dd class="g-col-8">
                        {{ onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentBaselineScoreName }}
                    </dd>
                    <dt class="g-col-4"><field-definition fieldDefinitionType="ProgressScore"></field-definition></dt>
                    <dd class="g-col-8">
                        {{ onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentProgressScoreName ?? "No completed assessments" }}
                    </dd>
                    <dt class="g-col-4">Assessment Area Description</dt>
                    <dd class="g-col-8">
                        {{ onlandVisualTrashAssessmentArea.AssessmentAreaDescription }}
                    </dd>
                </dl>
            </div>
        </div>
        <div class="card g-col-6" [loadingSpinner]="{ isLoading, loadingHeight: 100 }">
            <div class="card-header flex-between">
                Location
                <button class="btn btn-primary" [routerLink]="['edit-location']">Edit</button>
            </div>
            <div class="card-body map">
                <neptune-map (onMapLoad)="handleMapReady($event)" mapHeight="400px" [showLegend]="false" [boundingBox]="onlandVisualTrashAssessmentArea.BoundingBox">
                    <ovta-area-layer
                        *ngIf="mapIsReady"
                        [displayOnLoad]="true"
                        [map]="map"
                        [layerControl]="layerControl"
                        [sortOrder]="10"
                        [ovtaAreaID]="onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaID"></ovta-area-layer>
                    <transect-line-layer
                        *ngIf="mapIsReady"
                        [displayOnLoad]="true"
                        [map]="map"
                        [layerControl]="layerControl"
                        [sortOrder]="15"
                        [ovtaAreaID]="onlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaID"></transect-line-layer>
                </neptune-map>
            </div>
        </div>
        <h3>Onland Visual Trash Assessments</h3>
        <div [loadingSpinner]="{ isLoading: isLoadingGrid, loadingHeight: 100 }">
            <neptune-grid
                height="800px"
                [rowData]="onlandVisualTrashAssessments$ | async"
                [columnDefs]="ovtaColumnDefs"
                downloadFileName="onland-visual-trash-assessments"
                [pagination]="true"
                [sizeColumnsToFitGrid]="true"></neptune-grid>
        </div>
    </div>
</ng-container>
