<page-header pageTitle="Refine Assessment Area"></page-header>
<app-alert-display></app-alert-display>
<div class="page-body">
    <div class="copy copy-2 mb-3">
        You may click or tap the edit button (<i class="fas fa-edit"></i>) on the map below to adjust the Assessment Area's vertices. You may drag vertices to move them, or click
        or tap vertices to delete them. Note that it may be necessary to zoom the map to see individual vertices that are close together (e.g. there may be many closely-placed
        vertices along curves). You may click the "Reset Map Zoom" button to zoom back out to the entire Assessment Area.
        <p class="mt-2">
            Note that the Assessment Area's edges must not intersect each other. If the Assessment Area contains any edges that intersect each other, you will not be able to save
            the Assessment Area
        </p>
    </div>
    <neptune-map
        *ngIf="onlandVisualTrashAssessment$ | async as onlandVisualTrashAssessment"
        (onMapLoad)="handleMapReady($event, onlandVisualTrashAssessment.GeometryAsGeoJson)"
        mapHeight="500px"
        [showLegend]="false"
        [boundingBox]="onlandVisualTrashAssessment.BoundingBox">
        <ovta-observation-layer
            *ngIf="mapIsReady"
            [displayOnLoad]="true"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="10"
            [ovtaID]="onlandVisualTrashAssessment.OnlandVisualTrashAssessmentID"></ovta-observation-layer>
    </neptune-map>

    <div class="page-footer">
        <button class="btn btn-primary mr-2" (click)="save()" [disabled]="isLoadingSubmit">Save</button>
        <button class="btn btn-primary-outline ml-auto" (click)="save(true)" [disabled]="isLoadingSubmit">Save & Continue</button>
    </div>
</div>
