@using Neptune.Web.Views.Shared
@using Neptune.Web.Views.Shared.JurisdictionControls
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Areas.Modeling.Views.Home.Index



@section JavascriptAndStylesContent
{
    <meta name="Description" content="Neptune provides public access to program information and details on watershed, habitat, stormwater, forestry, air quality, and projects implemented by Neptune partners." />

    @{ MapJavascriptIncludes.RenderPartialView(Html); }

    <style>
        #@ViewDataTyped.JurisdictionsMapInitJson.MapDivID { height: 400px; }
    </style>}


@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">

    <div class="col-md-12" style="margin-top: 20px;">
        <div>
            @{ JurisdictionsMap.RenderPartialView(Html, ViewDataTyped.JurisdictionsMapViewData); }
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        NeptuneMaps.Map.prototype.bindPopupToFeature = function(layer, feature) {
            if (!Sitka.Methods.isUndefinedNullOrEmpty(feature.properties["Short Name"])) {
                layer.bindTooltip(feature.properties["Short Name"], { direction: "auto", sticky: "true" });

                var originalFillOpacity = layer.options.fillOpacity;
                layer.on("mouseover",
                    function() {
                        layer.setStyle({ fillOpacity: .6 }); // this is what looks the best.
                    });
                layer.on("mouseout",
                    function() {
                        layer.setStyle({ fillOpacity: originalFillOpacity });
                    });
            };

            return layer;
        };

        var jurisdictionsMapJson =
            @Html.Raw(JObject.FromObject(ViewDataTyped.JurisdictionsMapInitJson).ToString(Formatting.None));
        var map = window.Sitka.map = new NeptuneMaps.Map(jurisdictionsMapJson);

        map.initializeJurisdictions(jurisdictionsMapJson);

        jQuery('.leaflet-container').css('cursor', 'pointer');
    })
</script>

