@*-----------------------------------------------------------------------
<copyright file="TreatmentBMPTypeLegend.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@inherits Neptune.Web.Views.Shared.TreatmentBMPTypeLegend


    <p style="font-weight: bold; margin-bottom: 10px">Treatment BMP Types</p>
    <div style="margin-left: 10px">
        <div class="mapLegendElement">
            <img src="https://api.tiles.mapbox.com/v3/marker/pin-m-wetland+935F59.png" class="leaflet-marker-icon maki-marker" style="position: relative; width: 30px; padding-right: 5px; display: inline-block; margin: 0; float: left;">Basin (Dry, Wet, or Infiltration)
        </div>
        <div class="mapLegendElement">
            <img src="https://api.tiles.mapbox.com/v3/marker/pin-m-water+935F59.png" class="leaflet-marker-icon maki-marker" style="position: relative; width: 30px; padding-right: 5px; display: inline-block; margin: 0; float: left;">Vault or Filter
        </div>
        <div class="mapLegendElement">
            <img src="https://api.tiles.mapbox.com/v3/marker/pin-m-bicycle+935F59.png" class="leaflet-marker-icon maki-marker" style="position: relative; width: 30px; padding-right: 5px; display: inline-block; margin: 0; float: left;">Porous Pavement
        </div>
        <div class="mapLegendElement">
            <img src="https://api.tiles.mapbox.com/v3/marker/pin-m-circle-stroked+935F59.png" class="leaflet-marker-icon maki-marker" style="position: relative; width: 30px; padding-right: 5px; display: inline-block; margin: 0; float: left;">Conveyance
        </div>
    </div>
