@*-----------------------------------------------------------------------
<copyright file="VerifyEmailRequiredDetail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@inherits Neptune.WebMvc.Views.Account.VerifyEmailRequired

<div style="margin-top: 20px; min-height: 200px">
    <p>
        Your email address must be verified before you can sign in. Please check your email for a verification link.
    </p>
    <p>After verifying your email, you can return to this page to <a href="/Account/Login">sign in</a>.</p>
</div>