
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@inherits Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessment.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

}

@section RightOfPageTitle
{
    <a class="btn btn-neptune" href="@ViewDataTyped.NewUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus") Begin OVTA</a>
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                On-Land Visual Trash Assessments
            </div>
            <div class="panel-body">
                <p>This table can be used to search and view individual assessments.</p>
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                OVTA Areas
            </div>
            <div class="panel-body">
                <p>All OVTAs are associated with an area. This table can be used to search and view the assessment areas.</p>
                @Html.DhtmlxGrid(ViewDataTyped.AreaGridSpec, ViewDataTyped.AreaGridName, ViewDataTyped.AreaGridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>