@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Views.Shared
@inherits Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessment.InitialOVTA

@{ @SetLayout("SiteLayout.cshtml", ViewDataTyped) }

<p class="systemText">Content Under Development</p>



@using (Html.BeginForm("Location", "FieldVisit", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "field-visit-form" }))
{
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
        </div>

        <div class="col-xs-12 col-sm-10" style="text-align: right">
            <button type="submit" class="btn btn-neptune" value="false" name="@Html.NameFor(x => x.AutoAdvance)">Save</button>
            <button type="submit" class="btn btn-neptune" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Save &amp; Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
}