@using Neptune.Web.Views.Shared
@inherits Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessment.VerifyOVTAArea

@{ @SetLayout("SiteLayout.cshtml", ViewDataTyped) }

<p class="systemText">Content Under Development</p>