$border-radius-100: 0.125rem;
$border-radius-200: 0.25rem;
$border-radius-300: 0.5rem;
$border-radius-400: 0.75rem;
$border-radius-500: 1rem;
$border-radius-600: 1.5rem;
$border-radius-700: 2rem;
$border-radius-800: 3rem;
$border-radius-900: 4rem;
