@if (projectTreatmentBMPs != null && projectTreatmentBMPs.length > 0) {
<div class="grid-12">
    <div class="g-col-3" [style.height]="mapHeight" style="overflow-y: auto">
        <ul class="list-group">
            @for (treatmentBMP of projectTreatmentBMPs; track treatmentBMP) {
            <li
                class="list-group-item font-weight-bold"
                [class.selected]="selectedListItem == treatmentBMP.TreatmentBMPID"
                (click)="selectTreatmentBMP(treatmentBMP.TreatmentBMPID)">
                <strong>{{ treatmentBMP.TreatmentBMPName }}</strong>
                <p class="treatment-bmp-type">Type: {{ treatmentBMP.TreatmentBMPTypeName }}</p>
            </li>
            }
        </ul>
    </div>
    <div class="g-col-9">
        <neptune-map (onMapLoad)="handleMapReady($event)" [mapHeight]="mapHeight" [showLegend]="false" [boundingBox]="boundingBox">
            @if (mapIsReady) {
            <regional-subbasins-layer [mode]="OverlayMode.ReferenceOnly" [map]="map" [layerControl]="layerControl" [sortOrder]="10"></regional-subbasins-layer>
            } @if (mapIsReady) {
            <stormwater-network-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="20"></stormwater-network-layer>
            } @if (mapIsReady) {
            <jurisdictions-layer [mode]="OverlayMode.ReferenceOnly" [map]="map" [layerControl]="layerControl" [sortOrder]="30"></jurisdictions-layer>
            } @if (mapIsReady) {
            <wqmps-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="40"></wqmps-layer>
            } @if (mapIsReady) {
            <delineations-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="50"></delineations-layer>
            } @if (mapIsReady) {
            <inventoried-bmps-layer [displayOnLoad]="false" [map]="map" [layerControl]="layerControl" [sortOrder]="60"></inventoried-bmps-layer>
            }
        </neptune-map>
    </div>
</div>
} @else {
<p class="text-italic">No BMPs have been added to this project yet</p>
} @if (selectedTreatmentBMP) {
<div class="card mt-4">
    <div class="card-body">
        <dl class="grid-12">
            <dt class="g-col-3 control-label font-weight-bold text-lg-right">
                <label>Name</label>
            </dt>
            <dd class="g-col-9">
                {{ selectedTreatmentBMP.TreatmentBMPName }}
            </dd>
            <dt class="g-col-3 control-label font-weight-bold text-lg-right">
                <field-definition fieldDefinitionType="TreatmentBMPType"></field-definition>
            </dt>
            <dd class="g-col-9">
                {{ selectedTreatmentBMP.TreatmentBMPTypeName }}
            </dd>
            <dt class="g-col-3 control-label d text-lg-right">
                <label><span class="font-weight-bold">Notes</span></label>
            </dt>
            <dd class="g-col-9">
                {{ selectedTreatmentBMP.Notes }}
            </dd>
        </dl>
        <div class="grid-12 mt-3">
            <div class="g-col-5">
                <h3>Location</h3>
                @if (selectedTreatmentBMP.Latitude || selectedTreatmentBMP.Longitude) {
                <dl class="grid-12">
                    <dt class="g-col-5">Latitude</dt>
                    <dd class="g-col-7">
                        {{ selectedTreatmentBMP.Latitude }}
                    </dd>
                    <dt class="g-col-5">Longitude</dt>
                    <dd class="g-col-7">
                        {{ selectedTreatmentBMP.Longitude }}
                    </dd>
                    <dt class="g-col-5">
                        <field-definition fieldDefinitionType="Area" [labelOverride]="'Delineation Area'"></field-definition>
                    </dt>
                    <dd class="g-col-7" [class.font-italic]="!treatmentBMPHasDelineation(selectedTreatmentBMP.TreatmentBMPID)">
                        {{ getDelineationAreaForTreatmentBMP(selectedTreatmentBMP.TreatmentBMPID) }}
                    </dd>
                    @if (selectedTreatmentBMP.WatershedName) {
                    <div class="col-sm-5 mt-1 font-weight-bold text-sm-right">
                        <field-definition [fieldDefinitionType]="'Watershed'"></field-definition>
                    </div>
                    <div class="col-sm-7 mt-1">{{ selectedTreatmentBMP.WatershedName }}</div>
                    }
                </dl>
                } @else {
                <div class="font-italic ml-3">Location details not yet provided.</div>
                }
            </div>
            <div class="g-col-7">
                <h3>Modeling Attributes</h3>
                @if(selectedTreatmentBMP.TreatmentBMPTypeName) { @if (selectedTreatmentBMP.CustomAttributes && selectedTreatmentBMP.CustomAttributes.length > 0) { @for
                (customAttributeType of getCustomAttributeFieldsToDisplay(selectedTreatmentBMP.TreatmentBMPTypeID); track customAttributeType) {
                <dl class="grid-12">
                    <dt class="g-col-7">
                        <ng-container>
                            <span>
                                {{ customAttributeType.CustomAttributeTypeName }}
                                <i class="fas fa-question-circle small" style="cursor: help" [popper]="popContent" [popperTitle]="customAttributeType.CustomAttributeTypeName"></i>
                            </span>
                        </ng-container>
                        <ng-template #popContent>
                            <ng-container>
                                <div [innerHtml]="customAttributeType.CustomAttributeTypeDescription"></div>
                            </ng-container>
                        </ng-template>
                    </dt>
                    <dd class="g-col-5">
                        @if (isFieldWithDropdown(customAttributeType.CustomAttributeDataTypeID)) {
                        {{ selectedTreatmentBMP.CustomAttributes[getIndexOfCustomAttribute(customAttributeType.CustomAttributeTypeID)]?.CustomAttributeValues[0] }}
                        } @else {
                        {{ selectedTreatmentBMP.CustomAttributes[getIndexOfCustomAttribute(customAttributeType.CustomAttributeTypeID)]?.CustomAttributeValues[0] | number }}

                        }
                        {{
                            selectedTreatmentBMP.CustomAttributes[getIndexOfCustomAttribute(customAttributeType.CustomAttributeTypeID)]?.CustomAttributeValues[0] != null &&
                            customAttributeType.MeasurementUnitDisplayName != "None"
                                ? customAttributeType.MeasurementUnitDisplayName
                                : ""
                        }}
                    </dd>
                </dl>
                } }@else {
                <div class="font-italic">
                    No pollutant load or volume reduction will be calculated for this type of Treatment BMP therefore modeling attributes are not applicable.
                </div>
                } } @else {
                <div class="font-italic">Modeling Attributes will display once a Treatment BMP Type is selected.</div>
                }
            </div>
        </div>
    </div>
</div>
}
