<div *ngIf="isLoading" class="text-center">
    <span class="fa fa-spinner loading-spinner"></span>
</div>

<div *ngIf="!isLoading" class="d-inline">
    <ng-template #popTitle>
        <div class="row">
            <div class="col-auto mr-auto">
                <div class="mt-1">{{fieldDefinition.FieldDefinitionType.FieldDefinitionTypeDisplayName}}</div>
            </div>
            <div class="col-auto" *ngIf="!isEditing">
                <div class="row">
                    <div class="col-sm-2 pl-0 pr-0">
                        <button type="button" class="btn btn-link" (click)="enterEdit()">
                            <i class="fa fa-pencil-square-o" attr.aria-label="Edit the definition for {{fieldDefinition.FieldDefinitionType.FieldDefinitionTypeDisplayName}}">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #popContent>
        <ng-container *ngIf="!isEditing">
            <div *ngIf="showEditButton()" style="position: relative; min-height: 30px;">
                <div *ngIf="!emptyContent" [innerHtml]="fieldDefinition.FieldDefinitionValue"></div>
                <div *ngIf="emptyContent" class="hoverEmptySpace"></div>
            </div>
            <div *ngIf="!showEditButton()" [innerHtml]="fieldDefinition.FieldDefinitionValue"></div>
        </ng-container>
        <div *ngIf="isEditing">
            <ckeditor [editor]="Editor" [(ngModel)]="editedContent" (ready)="ckEditorReady($event)" [config]="ckConfig">
            </ckeditor>
            <div style="float:right;">
                <button type="button" class="btn btn-sm btn-hippocamp mt-1 mr-1 mb-1" (click)="saveEdit()">Save</button>
                <button type="button" class="btn btn-sm btn-secondary mt-1 mb-1" (click)="cancelEdit(p)">Cancel</button>
            </div>
        </div>
    </ng-template>
    <ng-container *ngIf="showEditButton()">
        <div class="d-inline-block" (mouseenter)="notEditingMouseEnter()" (mouseleave)="notEditingMouseLeave()">
            <span style="overflow:hidden; text-overflow:ellipsis">
                {{getLabelText()}}
                <i class="fas fa-question-circle small" style="cursor: help;" #p="ngbPopover" [ngbPopover]="popContent"
                    [popoverTitle]="popTitle" triggers="manual" [autoClose]="false"
                    popoverClass="popover-override" container="body" [ngClass]="{'text-white': white}">
                </i>
            </span>
        </div>
    </ng-container>
    <ng-container *ngIf="!showEditButton()">
        <span> 
            {{getLabelText()}}
            <i class="fas fa-question-circle small" style="cursor: help;" [ngbPopover]="popContent"  popoverClass="popover-override"
                [popoverTitle]="fieldDefinition.FieldDefinitionType.FieldDefinitionTypeDisplayName" triggers="mouseenter:mouseleave" 
                container="body" [ngClass]="{'text-white': white}">
            </i>
        </span>
    </ng-container>
</div>