@using Neptune.WebMvc.Views.NeptunePage
@using Neptune.WebMvc.Views.Shared
@inherits ViewPageContent

@if (ViewDataTyped.ShowEditButton)
{
    Edit.RenderPartialView(Html, ViewDataTyped.EditViewData, ViewDataTyped.EditViewModel);
}
else
{
    <div>
        @Html.Raw(ViewDataTyped.HtmlContent)
    </div>
}
