<header-nav></header-nav>
<div class="mh-auto min-vh-100 page-content">
    <router-outlet></router-outlet>
</div>
<footer class="footer mt-2">
    <div class="container">
        <br>
        <div class="row">
            <div class="col no-gutters text-center">
                <a href="https://sitkatech.com/" alt="Sitka Technology Group" target="_blank">
                    <img src="assets/main/logos/sitkatech-logo2x.width-600.png" style="height: 55px;">
                </a>
            </div>            
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                © {{currentYear}} Sitka Technology Group, LLC. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>