.inventory-landing {
    text-align: center;
    margin-top: 4rem;
}
.inventory-landing h1 {
    font-size: 2.5rem;
    color: #22223b;
}
.inventory-landing p {
    color: #4a4e69;
    font-size: 1.2rem;
}
