@if (onlandVisualTrashAssessmentObservations?.length > 0) {
  <div class="grid-12">
    <div class="g-col-4" [style.height]="mapHeight" style="overflow-y: auto" #ovtaObservations>
      <ul class="list-group">
        @for (onlandVisualTrashAssessmentObservation of onlandVisualTrashAssessmentObservations; track onlandVisualTrashAssessmentObservation) {
          <li
            [id]="'ovtaObservation' + onlandVisualTrashAssessmentObservation.OnlandVisualTrashAssessmentObservationID"
            class="list-group-item font-weight-bold"
                [class.selected]="
                    selectedOnlandVisualTrashAssessmentObservation?.OnlandVisualTrashAssessmentObservationID ==
                    onlandVisualTrashAssessmentObservation.OnlandVisualTrashAssessmentObservationID
                "
            (click)="selectOnlandVisualTrashAssessmentObservation(onlandVisualTrashAssessmentObservation.OnlandVisualTrashAssessmentObservationID)">
            @if (onlandVisualTrashAssessmentObservation.FileResourceGUID) {
              <img
                [src]="getFileResourceUrl(onlandVisualTrashAssessmentObservation.FileResourceGUID)"
                style="width: 300px" />
            } @else {
              <i>No photo provided</i>
            }
            <div class="mt-2">
              {{ onlandVisualTrashAssessmentObservation.Note ?? "No note provided" }}
            </div>
          </li>
        }
      </ul>
    </div>
    <div class="g-col-8">
      <neptune-map (onMapLoad)="handleMapReady($event)" [mapHeight]="mapHeight" [showLegend]="true" [boundingBox]="boundingBox">
        @if (mapIsReady) {
          <land-use-block-layer [displayOnLoad]="true" [map]="map" [layerControl]="layerControl" [sortOrder]="10"></land-use-block-layer>
        }
        @if (mapIsReady) {
          <ovta-area-layer
            [displayOnLoad]="true"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="20"
          [ovtaID]="onlandVisualTrashAssessmentID"></ovta-area-layer>
        }
        @if (mapIsReady) {
          <transect-line-layer
            [displayOnLoad]="true"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="25"
          [ovtaID]="onlandVisualTrashAssessmentID"></transect-line-layer>
        }
      </neptune-map>
    </div>
  </div>
} @else {
  <p class="text-italic">No observations have been added to this assessment yet</p>
}
