<page-header pageTitle="Add or Remove Parcels"></page-header>
<app-alert-display></app-alert-display>
<div class="page-body">
    <div class="copy copy-2 mb-3">Click the map to add or remove parcels from the Assessment Area. Note that it may be necessary to zoom the map to see APNs on the map.</div>
    <neptune-map
        *ngIf="onlandVisualTrashAssessment$ | async as onlandVisualTrashAssessment"
        (onMapLoad)="handleMapReady($event, onlandVisualTrashAssessment.BoundingBox, onlandVisualTrashAssessment.TransectLineAsGeoJson)"
        mapHeight="500px"
        [showLegend]="false"
        [boundingBox]="onlandVisualTrashAssessment.BoundingBox">
        <ovta-observation-layer
            *ngIf="mapIsReady"
            [displayOnLoad]="true"
            [map]="map"
            [layerControl]="layerControl"
            [sortOrder]="10"
            [ovtaID]="onlandVisualTrashAssessment.OnlandVisualTrashAssessmentID"></ovta-observation-layer>
    </neptune-map>

    <div class="page-footer">
        <button class="btn btn-primary mr-2" (click)="save()" [disabled]="isLoadingSubmit">Save</button>
        <button class="btn btn-primary-outline ml-auto" (click)="save(true)" [disabled]="isLoadingSubmit">Save & Continue</button>
    </div>
</div>
