.neptune-leaflet-control {
  background: white;
  padding: 7px;
}
.neptune-leaflet-control#selectedAssetControl {
  width: 240px;
  padding-top: 0px;
}
.neptune-leaflet-control#beginDelineationControl {
  width: 375px;
  min-height: 260px;
}
.leaflet-interactive {
  cursor: inherit !important;
}
.leaflet-bar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.leaflet-bar h4 {
  margin-top: 0;
}
label.group {
  margin-left: 20px;
  font-weight: normal;
}
.hiddenControlElement {
  display: none !important;
}
/* weird gross hack to allow centered controls by overriding bottom-right control placement */
.leaflet-bottom.leaflet-right {
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.leaflet-control-layers-list {
  width: 210px;
  padding: 5px;
}
.leaflet-bar a#selectedBMPDetailLink,
.leaflet-bar a#upstreamBMPDetailLink{
  width: auto !important;
  height: auto !important;
  display: inline !important;
  line-height: 18px !important;
  color: #337ab7 !important;
}

.leaflet-bar a#selectedBMPDetailLink:hover,
.leaflet-bar a#upstreamBMPDetailLink{
  background: none;
}
.neptuneToggle .toggle-group label {
  line-height: 12px;
  padding-top: 9px;
  font-size: 12px;
}
/* slidey stuff */
div#vertexControlSlider {
  margin-left: 10px;
  width: 90%;
}
div#vertexControlSlider .slider-handle {
  background-color: #77cfdc;
  background-image: none;
}
div#vertexControlSlider .slider-tick.round.in-selection {
  background-color: #0099ab;
  background-image: none;
}
div#vertexControlSlider .slider-selection.tick-slider-selection {
  background-image: linear-gradient(to left, #77cfdc 0px, #0099ab 100%);
}
#delineationStatus label.btn-primary {
  background-color: #0099ab;
}