@use "/src/scss/abstracts" as *;
.well {
    min-height: $spacing-400;
    padding: $spacing-400;
    margin-bottom: $spacing-400;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.image-preview-ribbon {
    position: absolute;
    bottom: $spacing-400;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #f0ad4e;
    background: rgba(240, 173, 78, 0.8);
    color: #f0f0f0;
    line-height: $spacing-600;
    text-align: center;
}

.new-image-preview {
    width: 100%;
}

.existing-image-preview {
    max-height: $spacing-1000;
}
