<ng-template #addButton>
    <button class="btn btn-primary" (click)="openAddModal()">Add New Funding Source</button>
</ng-template>
<page-header pageTitle="Funding Sources" [templateRight]="addButton"></page-header>

<app-alert-display></app-alert-display>

<div class="page-body">
    <neptune-grid
        [rowData]="fundingSources$ | async"
        [columnDefs]="columnDefs"
        downloadFileName="funding-sources"
        entityIDField="FundingSourceID"
        (selectionChanged)="onSelectionChanged($event)">
        <div headerActions></div>
    </neptune-grid>
</div>
