@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.WebMvc.Common.DhtmlWrappers
@using Neptune.WebMvc.Views.Shared
@inherits Neptune.WebMvc.Views.User.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

@section RightOfPageTitle
{
@*     @if (ViewDataTyped.UserIsAdmin)
    {
        <a href="@ViewDataTyped.InviteUserUrl" class="btn btn-neptune btn-sm">Invite User</a>
    } *@
}

<p>
    Users listed here have Single Sign On (SSO) accounts configured in the Keystone Identity Provider service. To create a new account, new users must <a href="@ViewDataTyped.KeystoneRegisterUserUrl">request an account</a>.
</p>

<div style="margin-top: 10px">
    @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
</div>
