<dl class="row mb-0">
    <dt class="col-6 text-right">Catch IDN</dt>
    <dd class="col-6">
        {{feature.properties.CatchIDN}}
    </dd>
    <dt class="col-6 text-right">Watershed</dt>
    <dd class="col-6">
        {{feature.properties.Watershed}}
    </dd>
    <dt class="col-6 text-right">Transportation Nexus Score</dt>
    <dd class="col-6">
        {{feature.properties.TransportationNexusScore | number:'0.0-2'}}
    </dd>
    <dt class="col-6 text-right">Land Use Based Water Quality Need Score</dt>
    <dd class="col-6">
        {{feature.properties.LandUseBasedWaterQualityNeedScore | number:'0.0-2'}}
    </dd>
    <dt class="col-6 text-right">Receiving Water Score</dt>
    <dd class="col-6">
        {{feature.properties.ReceivingWaterScore | number:'0.0-2'}}
    </dd>
    <dt class="col-6 text-right">Strategically Effective Area Score</dt>
    <dd class="col-6">
        {{feature.properties.StrategicallyEffectiveAreaScore | number:'0.0-2'}}
    </dd>
    <dt class="col-6 text-right">PC_BAC_PCT</dt>
    <dd class="col-6">
        {{feature.properties.PC_BAC_PCT }}%
    </dd>
    <dt class="col-6 text-right">PC_MET_PCT</dt>
    <dd class="col-6">
        {{feature.properties.PC_MET_PCT }}%
    </dd>
    <dt class="col-6 text-right">PC_NUT_PCT</dt>
    <dd class="col-6">
        {{feature.properties.PC_NUT_PCT }}%
    </dd>
    <dt class="col-6 text-right">PC_TSS_PCT</dt>
    <dd class="col-6">
        {{feature.properties.PC_TSS_PCT }}%
    </dd>
    <dt class="col-6 text-right">PC_VOL_PCT</dt>
    <dd class="col-6">
        {{feature.properties.PC_VOL_PCT }}%
    </dd>
</dl>