@use "/src/scss/abstracts" as *;

:host {
    width: 100%;
}

.custom-header-label {
    // margin-left: 5px;
}

.filter-indicator {
    color: $neptune-orange;
    font-size: 16px;
}

.hidden {
    display: none;
}

.sort-buttons {
    margin: 0 5px;
}

.custom-filter-button {
    margin-right: 6px;
    font-size: 0.6rem;
}
