<div>
    <page-header pageTitle="Jurisdictions" [customRichTextTypeID]="customRichTextTypeID"></page-header>
    <app-alert-display></app-alert-display>
    <div class="page-body">
        @if (boundingBox$ | async; as boundingBox) {
        <hybrid-map-grid
            height="700px"
            [rowData]="jurisdictions$ | async"
            [columnDefs]="columnDefs"
            rowSelection="single"
            downloadFileName="jurisdictions"
            entityIDField="StormwaterJurisdictionID"
            (onMapLoad)="handleMapReady($event, boundingBox)"
            [selectedValue]="selectedJurisdictionID"
            [selectionFromMap]="true"
            (selectedValueChange)="onSelectedJurisdictionIDChanged($event)">
            <div mapLayers>
                <jurisdictions-layer
                    [map]="map"
                    [layerControl]="layerControl"
                    [interactive]="true"
                    [selectedJurisdictionID]="selectedJurisdictionID"
                    (jurisdictionSelected)="onSelectedJurisdictionIDChanged($event, true)">
                </jurisdictions-layer>
            </div>
        </hybrid-map-grid>
        }
    </div>
</div>
