@using Neptune.WebMvc.Common
@using Neptune.WebMvc.Common.DhtmlWrappers
@using Neptune.WebMvc.Views.Shared
@using Neptune.WebMvc.Views.WaterQualityManagementPlan

@inherits AnnualReport

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/WQMPAnnualReportController.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: null,
                        AngularViewData:
                            @Html.Raw(ViewDataTyped.ViewDataForAngular.ToJsonHtmlString())
                    };
                });

        // ]]>
    </script>
    <style>
        .aligned-row {
            display: flex;
            &::before

        {
            display: block;
        }

        }

        .no-padding-centered-col {
            padding-left: 0;
            padding-right: 0;
            display: flex;
            align-items: center;
        }
    </style>
}
<div ng-app="NeptuneApp" ng-controller="WQMPAnnualReportController">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="aligned-row">
                <div class="col-xs-4 no-padding-centered-col">
                    <span style="font-weight: bold;">Select a Reporting Year</span>
                </div>
                <div class="col-xs-8" style="padding: 0">
                    <select id="reportingYearDropDown" class="selectpicker" data-width="100%" data-ng-change="reloadGridsForSelections(Sitka.@ViewDataTyped.ApprovalSummaryGridName)"
                            ng-model="SelectedReportingYear"
                            ng-init="SelectedReportingYear = AngularViewData.ReportingYearSimples[0]"
                            data-actions-box="true"
                            ng-options="reportingYear as reportingYear.ReportingYearDisplay for reportingYear in AngularViewData.ReportingYearSimples track by reportingYear.ReportingYear">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-sm-12 col-md-8">
            <div class="aligned-row">
                <div class="col-xs-4 no-padding-centered-col">
                    <span style="font-weight: bold">Select a Jurisdiction</span>
                </div>
                <div class="col-xs-8" style="padding: 0">
                    <select ng-change="reloadGridsForSelections()"
                            ng-model="SelectedStormwaterJurisdiction"
                            ng-options="stormwaterJurisdiction as stormwaterJurisdiction.StormwaterJurisdictionName for stormwaterJurisdiction in AngularViewData.StormwaterJurisdictions track by stormwaterJurisdiction.StormwaterJurisdictionID"
                            ng-init="SelectedStormwaterJurisdiction = AngularViewData.StormwaterJurisdictions[0]"
                            selectpicker
                            class="selectpicker"
                            data-live-search="true"
                            data-none-selected-text="Filter by Jurisdiction"
                            data-width="100%">
                    </select>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        
        <div class="col-xs-12">
            <h2>WQMP Approval Summary</h2>
            @{
                ViewPageContent.RenderPartialView(Html, ViewDataTyped.ApprovalSummaryPage);
            }
        </div>
        <div class="col-xs-12">
            @Html.DhtmlxGrid(ViewDataTyped.ApprovalSummaryGridSpec, ViewDataTyped.ApprovalSummaryGridName, null, "height: 500px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Post Construction Inspection and Verification</h2>
            @{
                ViewPageContent.RenderPartialView(Html, ViewDataTyped.PostConstructionInspectionAndVerificationPage);
            }
        </div>
        <div class="col-xs-12">
            @Html.DhtmlxGrid(ViewDataTyped.PostConstructionInspectionAndVerificationGridSpec, ViewDataTyped.PostConstructionInspectionAndVerificationGridName, null, "height: 500px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
        </div>
    </div>
</div>
