@using Neptune.WebMvc.Common.HtmlHelperExtensions
@using Neptune.WebMvc.Views.WaterQualityManagementPlan
@model EditNotesViewModel
@inherits EditNotes

<style>
    .radio-inline label {
        font-weight: normal;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal">
            @using (Html.BeginForm())
            {
            @Html.HiddenFor(m => m.WaterQualityManagementPlanID)
            <fieldset>
                <legend>Water Quality Management Plan Boundary Notes</legend>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-3 control-label">
                        @Html.LabelWithSugarFor(m => m.WaterQualityManagementPlanBoundaryNotes)
                    </div>
                    <div class="col-xs-12 col-sm-9">
                            @Html.TextAreaWithMaxLengthFor(m => m.WaterQualityManagementPlanBoundaryNotes, new TextAreaForExtensions.TextAreaDimensions(null, 3), null, new List<string> { "form-control" })
                            @Html.ValidationMessageFor(m => m.WaterQualityManagementPlanBoundaryNotes)
                    </div>
                </div>
            </fieldset>
            }
        </div>
    </div>
</div>
